.env
venv
.idea
*.pyc
__pycache__

!uploads/
uploads/*

!alembic/versions/
alembic/versions/*
!migrations/versions/
migrations/versions/*

docs/*
!docs/
!docs/readme.md
docs/post/*

logs
study
*.db
*.sqlite
*.sql

*.json
main*.py
create_database*.py


