.env
venv
.idea
*.pyc
__pycache__

!uploads/
uploads/*

!alembic/versions/
alembic/versions/*
!migrations/versions/
migrations/versions/*


logs
study
*.db
*.sqlite

*.json
main*.py
create_database*.py


