{% extends 'admin/index.html' %}

{% block member %}
<!-- 위쪽 제목 공간 -->
<div class="is-block">
    <!-- left 제목 -->
    <div class="is-pulled-left">
        <h1 class="is-size-4">
            <span class="icon"><i class="mdi mdi-receipt-outline"></i></span>
            Category 관리
        </h1>
    </div>
    <!-- right 버튼(상속할 form에선 달라짐) -> block개설 -->
    {% block button %}
    <div class="is-pulled-right">
        <!--  route) admin.category_add route 및 category_form.html 개발 후 href채우기  -->
        <a href="{{url_for('admin.category_add')}}" class="button is-primary is-light">
            <span class="icon"><i class="mdi mdi-plus-thick"></i></span>
            <span>Category 추가</span>
        </a>
    </div>
    {% endblock button %}
    <!--  분류선 by div2개: pulled-쓰과서 is-clearfix는 필수  -->
    <div class="is-clearfix"></div>
    <div class="dropdown-divider"></div>

    <!-- 아래쪽 table의 처리에 대한 flash 메세지를 위쪽에서   -->
    {% with messages = get_flashed_messages() %}
    <b-message type="is-success">
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </b-message>
    {% endwith %}

    <!-- form validation errors -->
    {% for field in errors %}
    <b-message type="is-danger">
        <ul class="errors">
            {% for message in field.messages %}
            <li> {{ message }}</li>
            {% endfor %}
        </ul>
    </b-message>
    {% endfor %}
</div>

<!-- 위쪽 아래쪽 table or form 공간 -->
{% block table_content %}
<div class="table-container">
    <table class="table is-fullwidth is-hoverable is-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>이름</th>
            <th>아이콘</th>
            <th>생성일</th>
            <th>작업</th>
        </tr>
        </thead>
        <tbody>
        <!--  route) 에서 cateogry객체들을 id역순으로 넘겨주면, for문이 돌아가면서 a태그 에러가 걸리게 됨.  -->
        <!--  a태그-href들 주석처리된 상태  -->
        {% for cate in category_list %}
        <tr>
            <td>{{ cate.id }}</td>
            <td>{{ cate.name }}</td>
            <td>{{ cate.icon }}</td>
            <td>{{ cate.add_date }}</td>
            <td>
                <div class="tags">
                    <a href="{{url_for('admin.category_edit', id=cate.id) }}" class="tag is-success is-light">
                            <span class="icon">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </span>
                        수정
                    </a>
                    <a href="{{url_for('admin.category_delete', id=cate.id) }}" class="tag is-danger is-light">
                            <span class="icon">
                                 <i class="mdi mdi-trash-can-outline"></i>
                            </span>
                        삭제
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- route) 에서 category_list 던지기가 끝나면, [pagination]객체도 던져줘야한다-->
<nav class="pagination is-small" role="navigation" aria-label="pagination">
    {% if pagination.has_prev %}
    <a href="{{ url_for('admin.category') }}?page={{pagination.prev_num}}" class="pagination-previous"
       title="This is the first page">Previous</a>
    {% endif %}
    {% if pagination.has_next %}
    <a href="{{ url_for('admin.category') }}?page={{pagination.next_num}}" class="pagination-next">Next</a>
    {% endif %}

    <ul class="pagination-list">
        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page != pagination.page %}
        <li>
            <a href="{{ url_for('admin.category') }}?page={{ page }}" class="pagination-link" aria-label="Page 1"
               aria-current="page">{{page}}</a>
        </li>
        {% else %}
        <li>
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{page}}</a>
        </li>
        {% endif %}
        {% else %}
        <span class=pagination-ellipsis>&hellip;</span>
        {% endif %}
        {% endfor %}

    </ul>
</nav>

{% endblock table_content %}


{% endblock member %}

{% block vue_script %}{% endblock vue_script %}