{% extends 'admin/employee.html' %}

{% block button %}{% endblock button %}


{% block table_content %}
<!-- UserInfoForm -->
<!-- form 추가 시작 -->
<form action="" method="post" class="mt-4" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <!-- 바깥 columns 에 is-multine을 줘야 칼럼이 넘어가면 다음줄로 내린다-->
    <div class="columns is-mobile is-multiline"
         style="border-bottom: #ededed solid 1px; padding-bottom: 1rem">
        <div class="column is-narrow">
            <figure class="image is-96x96">
                <img class="is-rounded" style="height: 100%;"
                     :src="
                         img_file_url ? img_file_url :
                         `
                         {% if form.user.avatar %}
                         {{url_for('download_file', filename=form.user.avatar)}}
                         {% else %}
                         {{url_for('static', filename='/img/user/default_avatar.svg')}}
                         {% endif %}
                         `
                        "
                >
            </figure>
        </div>

        <!-- username -->
        <div class="column is-narrow">
            <div style="padding-top: 1.5rem;">
                <h1 class="title is-size-4">{{ form.user.username }}</h1>
            </div>
        </div>

        <!-- avatar  -->
        <div class="column is-narrow is-7 has-text-centered">
            <div style="padding-top: 1.5rem;">
                <!-- 버튼 가운데정렬은, flex가 되는 b-field태그의 class로 주면 된다. -->
                <b-field class="file is-primary is-justify-content-center" :class="{'has-name': !!img_file}">
                    <b-upload
                            class="file-label" rounded
                            v-model="img_file"
                            name="avatar"
                    >
                                      <span class="file-cta">
                                        <b-icon class="file-icon" icon="upload"></b-icon>
                                        <span class="file-label">{$ img_file.name || "아바타 사진 업로드" $}</span>
                                      </span>
                    </b-upload>
                </b-field>
            </div>
            <p class="help has-text-grey-light">
                {{ form.avatar.description }}
            </p>
        </div>


    </div>


    <!-- 기본정보: 추가정보였던 정보들을 기본정보로서 form이 필수로 받는다.    -->
    <div class="columns" style="padding:1rem 0; ">
        <div class="column is-2">
            <p>기본 정보</p>
        </div>
        <div class="column">
            <!-- email -->
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                <div class="column is-2 is-align-items-center is-flex">
                    <span class=" has-text-grey-light">{{form.email.label(class='label')}}</span>
                </div>
                <div class="column is-5">
                    <span class=" has-text-black-ter">{{ form.email(class='input') }}</span>
                    <p class="help has-text-primary-dark">
                        {{ form.email.description }}
                    </p>
                </div>
            </div>

            <!-- sex -->
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                <div class="column is-2 is-align-items-center is-flex">
                    <span class=" has-text-grey-light">{{form.sex.label(class='label')}}</span>
                </div>
                <div class="column is-narrow">
                    {% for subfield in form.sex %}
                    <input {%if subfield.checked %}checked {% endif %} type="radio"
                           id="{{ subfield.id }}" name="{{ form.sex.id }}"
                           value="{{ subfield.data }}">
                    {{ subfield.label }}
                    {% endfor %}
                </div>
            </div>


            <!-- 전화번호  -->
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                <div class="column is-2 is-align-items-center is-flex ">
                    <span class=" has-text-grey-light">{{form.phone.label(class='label')}}</span>
                </div>
<!--                <div class="column">-->
                <div class="column is-4">
                    <!-- descript이 달린 경우, column에 사이즈를 주지말고, 세부요소에 column + is-   p태그에 column + py-0을 주자-->
                    <span class="has-text-black-ter">{{ form.phone(class='input') }}</span>
<!--                    <span class="has-text-black-ter column is-4">{{ form.phone(class='input') }}</span>-->
<!--                    <p class="help has-text-primary-dark column py-0">-->
<!--                        {{ form.phone.description }}-->
<!--                    </p>-->
                </div>

            </div>
            <!-- 주소   -->
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                <div class="column is-2 is-align-items-center is-flex">
                    <span class=" has-text-grey-light">{{ form.address.label(class='label')}}</span>
                </div>
                <div class="column is-10 ">
                    <span class=" has-text-black-ter">{{ form.address(class='input') }}</span>
                </div>
            </div>

        </div>
    </div>

    <!-- 직원정보   -->
    <div class="columns" style="padding:1rem 0; ">
        <div class="column is-2">
            <p>직원 정보</p>
        </div>
        <div class="column">
            <!-- name -->
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                <div class="column is-2 is-align-items-center is-flex">
                    <span class=" has-text-grey-light">{{form.name.label(class='label')}}</span>
                </div>
                <div class="column is-3">
                    <span class="has-text-black-ter">{{ form.name(class='input') }}</span>
                </div>
            </div>

            <!-- sub_name(영어이름) -->
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                <div class="column is-2 is-align-items-center is-flex">
                    <span class=" has-text-grey-light">{{form.sub_name.label(class='label')}}</span>
                </div>
                <div class="column is-4">
                    <span class=" has-text-black-ter">{{ form.sub_name(class='input') }}</span>
                </div>
            </div>

            <!-- 주민번호   -->
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                <div class="column is-2 is-align-items-center is-flex ">
                    <span class=" has-text-grey-light">{{form.birth.label(class='label')}}</span>
                </div>
                <div class="column is-5">
<!--                <div class="column">-->
                    <span class="has-text-black-ter">{{ form.birth(class='input') }}</span>
<!--                    <span class="has-text-black-ter column is-5">{{ form.birth(class='input') }}</span>-->
<!--                    <p class="help has-text-primary-dark column py-0">-->
<!--                        {{ form.birth.description }}-->
<!--                    </p>-->
                </div>
            </div>

            <!-- 직위  -->
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                <div class="column is-2 is-align-items-center is-flex">
                    <span class=" has-text-grey-light">{{form.role_id.label(class='label')}}</span>
                </div>
                <div class="column is-4">
                    <div class="select is-half">
                        {{ form.role_id }}
                    </div>
                </div>
            </div>

            <!-- 입사일 -->
            <div class="columns">
                <div class="column is-2">
                    <p>{{ form.join_date.label(class='label')}}</p>
                </div>
                <div class="column is-4 is-3-fullhd">
                    <div class="content">
                        <b-field>
                            <b-datepicker
                                    icon="calendar-today"
                                    editable
                                    v-model="date"
                            >
                            </b-datepicker>
                        </b-field>
                        <!-- datefield는 외부에서 값을 받을 땐, 자기고유 format yyyy-m-d 형식의  자기고유타입 string만 받더라. -->
                        {{form.join_date(class='input', type='hidden',  **{'v-model':'stringDate'})}}
                    </div>
                </div>
            </div>

        </div>
    </div>



    <div class="columns is-mobile is-centered my-3">
        <div class="column is-narrow">
            <a href="javascript:history.back();"
               class="button is-primary is-light mr-2">
                뒤로가기
            </a>
        </div>
        <div class="column is-narrow">
            <input type="submit" value="작성완료"
                   class="button is-primary">
        </div>
    </div>

</form>
{% endblock table_content %}



{% block vue_script %}
<script>
    app._data.date = new Date('{{ form.join_date.data or today_date() }}')
</script>
{% endblock vue_script %}
