{% extends 'admin/index.html' %}


{% block extra_head_style %}
<!--css는 모양만 확인하고 주석처리 -->
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"-->
<!--      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<style>
    .popover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1060;
        display: block;
        max-width: 276px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        text-align: start;
        text-decoration: none;
        text-shadow: none;
        text-transform: none;
        letter-spacing: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: normal;
        line-break: auto;
        font-size: .875rem;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 0.3rem;
        /* 그림자나 화살표까진 복사안되서 그림자만 추가*/
        box-shadow: 2px 2px 4px 0;
    }
</style>

<!--용량을 줄이려고 boostrap4에 있는 slim 빌드 jQuery를 사용했었는데, slim 빌드를 사용하게되면, $.ajax()를 사용할 수 없다.-->
<!-- jQuery first (not slim for $.ajax) -> then Popper.js,->  then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- 부서변경시 부서정보 받아오기 위한 axios -->
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="{{url_for('static', filename='js/axios.min.js')}}"></script>
{% endblock extra_head_style %}

{% block member %}
<!-- 위쪽 제목 공간 -->
<div class="is-block">
    <!-- left 제목 -->
    <div class="is-pulled-left">
        <h1 class="is-size-4">
            <span class="icon"><i class="mdi mdi-receipt-outline"></i></span>
            직원 관리
        </h1>
    </div>

    {% block button %}
    <!--    <div class="is-pulled-right">-->
    <!--        <a href="{{url_for('admin.employee')}}" class="button is-primary is-light">-->
    <!--            <span class="icon"><i class="mdi mdi-plus-thick"></i></span>-->
    <!--            <span>직원 추가</span>-->
    <!--        </a>-->
    <!--    </div>-->

    {% endblock button %}

    <div class="is-clearfix"></div>
    <div class="dropdown-divider"></div>

    <!-- 아래쪽 table의 처리에 대한 flash 메세지를 위쪽에서   -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <b-message type="{{category}}">
        <ul class=flashes>
            <li class="{{category}}">{{ message }}</li>
        </ul>
    </b-message>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- form validation -->
    {% if form and form.errors %}
    <b-message type="is-danger">
        <ul class="errors">
            {% for error, v in form.errors.items() %}
            <li>{{ error }}：{{ v[0] }}</li>
            {% endfor %}
        </ul>
    </b-message>
    {% endif %}
</div>

<!-- 위쪽 아래쪽 table or form 공간 -->
{% block table_content %}
<div class="table-container">
    <table class="table is-fullwidth is-hoverable is-striped is-vcentered my-4">
        <thead>
        <tr>
            <th>사번</th>
            <!--            <th>Avatar</th>-->
            <th>이름</th>
            <th>나이</th>
            <th>생일</th>
            <!--            <th>Email</th>-->
            <!--            <th>Phone</th>-->
            <th>부서(직책)</th>
            <!--            <th>직위</th>-->
            <!-- 가입일은 안쓰고,
                 (1) 입사일(user_form : user-> staff수정시 입력되도록 해야함 + 직원추가시 입력되도록 해야함.)
                 (2) 퇴사일(직원수정form에서만 -> 퇴사체크시 자동으로 입력)
                 (3) 퇴사여부(퇴사클릭시 -> user로 밴 + 퇴사여부y + 퇴사일기록)를 추가 -->
            <th>입사일</th>
            <th>근무일</th>
            <th>상태</th>
            <!-- 작업 수정삭제에  + (4)퇴사버튼 추가 -->
            <th>비고</th>
            <th>작업</th>
        </tr>
        </thead>
        <tbody>
        <!--  route) 에서 post객체들을 id역순으로 넘겨주면, for문이 돌아가면서 a태그 에러가 걸리게 됨.  -->
        <!--  a태그-href들 주석처리된 상태  -->
        {% for employee in employee_list %}
        <tr>
        <tr class="is-size-7">
            <td>
                <span class="user_popup">
                    <p href="{{ url_for('admin.user_popup', employee_id=employee.id) }}"
                       class="

                        {% if employee.is_administrator %}
                            has-text-weight-bold
                            has-text-danger-dark
                        {% elif employee.is_executive %}
                            has-text-weight-bold
                            has-text-danger
                        {% elif employee.is_chiefstaff %}
                            has-text-weight-bold
                            has-text-info-dark
                        {% elif employee.is_staff %}
                            has-text-info
                        {% endif %}
                       "
                    >
                        {{ employee.employee_number }}
                    </p>
                </span>
            </td>
            <!--            <td>-->
            <!--                {% if employee.user.avatar %}-->
            <!--                <figure class="image is-48x48">-->
            <!--                    &lt;!&ndash;                         src="/uploads/{{employee.avatar}}"&ndash;&gt;-->
            <!--                    <img class="is-rounded" style="height: 100%;"-->
            <!--                         src="{{url_for('download_file', filename=employee.user.avatar) }}"-->
            <!--                         alt="{{ employee.name }}">-->
            <!--                </figure>-->
            <!--                {% else %}-->
            <!--                - -->
            <!--                {% endif %}-->
            <!--            </td>-->
            <td>
                <strong>
                    {{ employee.name }}
                </strong>
                <!--                        :triggers="['click']"-->
                <!--                        :auto-close="['outside', 'escape']"-->
                <!--                <b-tooltip-->
                <!--                        type="is-light"-->
                <!--                        size="is-large"-->
                <!--                        multilined-->
                <!--                >-->
                <!--                    <template v-slot:content>-->
                <!--                        <b-icon icon="heart" type="is-danger"></b-icon>-->
                <!--                        <b-icon icon="thumb-up" type="is-info"></b-icon>-->
                <!--                        <b-icon icon="thumb-down" type="is-warning"></b-icon>-->
                <!--                        <b-icon icon="emoticon-cool"></b-icon>-->
                <!--                    </template>-->

                <!--                    <b-button-->
                <!--                            type="is-dark is-small "-->
                <!--                            class="is-outlined is-rounded"-->
                <!--                            label="{{ employee.name }}"/>-->

                <!--                </b-tooltip>-->
            </td>
            <td><span>{{ employee.age }}</span></td>
            <td><span>{{ employee.birthday }}</span></td>
            <!--            <td><span class="is-size-7">{{ employee.user.email }}</span></td>-->
            <!--            <td><span class="is-size-7">{{ employee.user.phone | join_phone }}</span></td>-->

            <td>
                <span class="is-size-7">
<!--                    <div class="tags">-->
                    {% set dept_count = (employee.get_dept_id_and_name_and_position_list() | length) %}
                    {% if dept_count > 0  %}
                        <span class="tag is-primary is-light">
                            {{employee.get_dept_id_and_name_and_position_list()[0][1]}} ({{employee.get_dept_id_and_name_and_position_list()[0][2]}})
                        </span>
                        {% if dept_count > 1 %}
                        <b-tooltip
                                position="is-right"
                                type="is-primary">
                            <template v-slot:content>
                                {% for dept_id_and_name_and_pos in employee.get_dept_id_and_name_and_position_list() %}
                                            <span class="has-text-white is-size-7">
                                                {{dept_id_and_name_and_pos[1]}} ({{dept_id_and_name_and_pos[2]}})
                                            </span></br>
                                {% endfor %}
                            </template>

                            <!--                            <b-button label="Action" type="is-light" class="button is-inverted"/>-->
                            <span class="has-text-primary">외 {{dept_count - 1}}개 부서</span>
                        </b-tooltip>
                        {% endif %}
                    {% else %}
                        -
                    {% endif %}
                    <!--                                                            {% for dept_and_pos in employee.get_dept_id_and_name_and_position_list() %}-->
                    <!--                                                                <span class="tag is-primary is-light">-->
                    <!--                                                                    {{dept_and_pos[0]}} ({{dept_and_pos[1]}})-->
                    <!--                                                                </span></br>-->
                    <!--                                                            {% endfor %}-->
                </span>
            </td>
            <!--            <td>-->
            <!--                <div class="tags">-->
            <!--                    <span class="-->
            <!--                    tag-->
            <!--                    {% if not employee.is_staff %}-->
            <!--                    is-white-->
            <!--                    {% elif employee.is_executive %}-->
            <!--                    is-danger-->
            <!--                    {% else %}-->
            <!--                    is-info-->
            <!--                    {% endif %}-->
            <!--                     is-light">-->
            <!--                        {{ employee.role.name}}-->
            <!--                    </span>-->
            <!--                </div>-->
            <!--            </td>-->

            <td><span>{{employee.join_date}}</span></td>
            <td><span>
                <b-tooltip
                        position="is-right"
                        type="is-dark"
                >
                    <template v-slot:content>
                        <span class="is-size-7">
                            {{ employee.vacations_with_description[1] }}
                        </span>
                    </template>

                    <span class="has-text-dark">
                        <small>
                            {{employee.years_from_join}}년차(연차: {{ employee.vacations_with_description[0]}})
                        </small>
                    </span>
                </b-tooltip>
            </span>
            </td>

            <td><span>
                {% if employee.job_status.name == '대기' %}
                <span class="tag is-info">{{ employee.job_status.name }}</span>
                {% elif employee.job_status.name == '재직' %}
                <span class="tag is-success">{{ employee.job_status.name }}</span>
                {% elif employee.job_status.name == '휴직' %}
                <span class="tag is-warning">{{ employee.job_status.name }}</span>
                {% elif employee.job_status.name == '퇴사' %}
                <span class="tag is-danger">{{ employee.job_status.name }}</span>
                {% else %}
                {% endif %}
            </span></td>

            <td>
                {% if employee.reference %}
                <b-tooltip
                        position="is-right"
                        type="is-dark"
                >
                    <template v-slot:content>
                        <span class="is-size-7">
                            {{ employee.reference | safe }}
                        </span>
                    </template>

                    <span class="has-text-dark">참고</span>
                </b-tooltip>

                {% else %}
                -
                {% endif %}
            </td>

            <td>
                <div class="tags">
                    <!-- 수정은 g.user의 role미만이 choices로 구성되므로, 자신보다 낮을때만 수정되게 해야한다. -->
                    <a href="{{url_for('admin.employee_edit', id=employee.id)}}" class="tag is-success is-light">
                            <span class="icon">
                                <i class="mdi mdi-square-edit-outline"></i>
                            </span>
                        정보
                    </a>

                    <!--                       @click="isDepartmentModalActive = true; employee_id = {{employee.id}}; isSwitchedCustom='부서원';"-->
                    <a href="javascript:;"
                       @click="getCurrentDepartments({{employee.id}})"
                       class="tag is-primary is-light"
                    >
                            <span class="icon">
                                 <i class="mdi mdi-google-assistant"></i>
                            </span>
                        부서
                    </a>

                    <!--                    <a href="{{url_for('admin.employee', id=employee.id)}}" -->
                    <a href="javascript:;"
                       @click="isJobStatusModalActive = true; employee_id = {{employee.id}}"
                       class="tag is-warning is-light"
                    >
                            <span class="icon">
                                 <i class="mdi mdi mdi-graph-outline"></i>
                            </span>
                        재직상태
                    </a>



<!--                    <a href="{{url_for('admin.employee', id=employee.id)}}" class="tag is-danger is-light">-->
<!--                            <span class="icon">-->
<!--                                 <i class="mdi mdi-trash-can-outline"></i>-->
<!--                            </span>-->
<!--                        삭제-->
<!--                    </a>-->
                </div>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- route) 에서 user_list외에 [pagination]객체도 던져줘야한다-->
<nav class="pagination is-small" role="navigation" aria-label="pagination">
    {% if pagination.has_prev %}
    <a href="{{ url_for('admin.employee') }}?page={{ pagination.prev_num }}" class="pagination-previous"
       title="This is the first page">Previous</a>
    {% endif %}
    {% if pagination.has_next %}
    <a href="{{ url_for('admin.employee') }}?page={{ pagination.next_num }}" class="pagination-next">Next page</a>
    {% endif %}

    <ul class="pagination-list">
        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page != pagination.page %}
        <li>
            <a href="{{ url_for('admin.employee') }}?page={{ page }}" class="pagination-link" aria-label="Page 1"
               aria-current="page">{{ page }}</a>
        </li>
        {% else %}
        <li>
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{ page }}</a>
        </li>
        {% endif %}
        {% else %}
        <span class=pagination-ellipsis>&hellip;</span>
        {% endif %}
        {% endfor %}

    </ul>
</nav>


<!-- 재직상태변경 모달 -->
<b-modal
        v-model="isJobStatusModalActive"
        has-modal-card
        trap-focus
        aria-role="dialog"
        aria-label="Job Status Select Modal"
        aria-modal
>
    <!--    <form action="{{url_for('admin.employee_job_status_change') }}" -->
    <form action="{{url_for('admin.employee_job_status_change') }}"
          method="post"
          @submit.prevent="submitForm"
    >
        <div class="modal-card is-" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title is-size-5">
                    재직상태 변경
                </p>
                <button
                        type="button"
                        class="delete"
                        @click="isJobStatusModalActive = false; employee_id = null;"/>
            </header>
            <section class="modal-card-body">
                <!-- INPUT1: HIDEEN 모달클릭시 v-bind변수에 담아놨던 변수로, form에 포함될 변수로서 id를 반영 -->
                <input type="hidden" name="employee_id" :value="employee_id">

                <!-- INPUT2:  -->
                <b-field label="재직상태">
                    <!-- option이 아니라 상위 b-select에  name=도 같이붙으며  form으로 간다 -->
                    <b-select
                            name="job_status"
                            placeholder="선택"
                            rounded
                            required
                    >
                        {% for job_status in job_status_list %}
                        <option value="{{job_status[0]}}">{{job_status[1]}}</option>
                        {% endfor %}
                    </b-select>
                </b-field>
                <!-- INPUT3:  -->
                <b-field label="날짜">
                    <b-datepicker
                            inline
                            icon="calendar-today"
                            v-model="date"
                    >
                    </b-datepicker>
                </b-field>
                <!-- date로 작성하면 => base에서 stringDate로 watch로 보고있다 -->
                <input type="hidden" name="date" v-model="stringDate">

            </section>
            <footer class="modal-card-foot is-justify-content-center">
                <!-- b-button들을 넣으면 1개 이후 사라지는 버그 => a태그 + input(submit) 조합으로 변경-->
                <a class="button is-primary is-light mr-2"
                   @click="isJobStatusModalActive = false; employee_id = null;"
                >
                    닫기
                </a>
                <input type="submit"
                       class="button is-primary"
                       value="완료"
                       :disabled="isLoading"
                >
            </footer>
        </div>

    </form>
</b-modal>

<!-- 부서 변경 모달 -->
<b-modal
        v-model="isDepartmentModalActive"
        has-modal-card
        trap-focus
        aria-role="dialog"
        aria-label="Department Select Modal"
        aria-modal
>
    <!--    <form action="{{url_for('admin.employee_job_status_change') }}"-->
    <form action="{{url_for('admin.department_change') }}"
          method="post"
          @submit.prevent="submitForm"
    >
        <div class="modal-card is-" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title is-size-5">
                    부서 변경
                </p>
                <!-- 닫기버튼시 사용된 변수 다 초기화 -->
                <button
                        type="button"
                        class="delete"
                        @click="isDepartmentModalActive = false; employee_id = null; isSwitchedCustom='부서원';currentDeptList=null;currentDeptId=null;selectableDeptList=null;selectedDeptId=null;"/>
            </header>
            <section class="modal-card-body">
                <!-- INPUT1: HIDEEN 모달클릭시 v-bind변수에 담아놨던 변수로, form에 포함될 변수로서 id를 반영 -->
                <input type="hidden" name="employee_id" :value="employee_id">


                <!-- 현재부서 => 변경부서 선택-->
                <!-- INPUT2: 2개의 select를 1개 field에 horizontal로 주면 label이 깨지므로, columns에서 각각을 나누어, 개별 field+select를 각각 준다.-->
                <div class="columns">
                    <div class="column is-5">
                        <b-field
                                label="현재 부서"
                                label-position="on-border"
                        >
                            <!-- placeholder="현재 부서 선택"-->
                            <!-- @change="onCurrentDeptIdChange"-->
                            <!-- 일반태그에서는 @click, @change가 먹히지만, b-field내 b-input들은 @input으로 입력된 v-model의 변화를 감지한다.-->
                            <b-select
                                    size="is-small"
                                    name="current_dept_id"
                                    :placeholder="currentDeptList && currentDeptList.length ? '현재부서 선택' : '현재부서 없음'"
                                    rounded
                                    v-model="currentDeptId"
                                    @input="onCurrentDeptIdChange"
                            >
<!--                                    required-->
                                <option v-for="dept in currentDeptList" :value="dept.id"> {$ dept.name $}</option>

                                <!-- value가 없어서 id가 None으로 가면 부서추가의 상황으로?!-->
                                <!-- option에 value가 없으면 v-model에 text인 [부서추가]가 v-model에 입력되어 버린다.-->
                                <!-- option에 value="" 로 놓아야 ===>  None취급당한다-->
                                <option value=""> [부서 추가] </option>
                            </b-select>
                        </b-field>
                    </div>
                    <!-- 컬럼의 내용물을 세로정렬(세로 정렬) 하려면, flex + align-items 를 둘다 column 클래스에 추가 -->
                    <div class="column is-2 is-align-items-center is-flex">
                                <span class="icon is-size-3 has-text-primary ">
                                    <i class="mdi mdi-arrow-right-bold"></i>
                                </span>
                    </div>

                    <div class="column">
                        <b-field
                                label="변경 부서"
                                label-position="on-border"
                        >
                            <!-- select태그는 사용자가 선택되면 그게 `value로 자동으로 가고` 개발자는 `name만 정의`해주면 된다. -->
                            <b-select
                                    size="is-small"
                                    name="after_dept_id"
                                    placeholder="좌측 먼저 선택"
                                    rounded
                                    v-model="selectedDeptId"
                                    @input="onSelectedDeptIdOrSwitchChange"
                            >
<!--                                    required-->
                                <option v-for="dept in selectableDeptList" :value="dept.id"> {$ dept.name $}</option>
                                <!-- 현재부서에 부서가 선택된 상태일때만 등장하도록 + value=""으로 주기-->
                                <option v-if="currentDeptId" value=""> [부서 제거] </option>

                            </b-select>
                        </b-field>
                    </div>
                </div>


                <!-- INPUT3: 팀장여부 -->
                <!-- switch에 따로 name을 지정해줘야한다. -->
                <!--                <div class="columns">-->
                <!--                    <div class="column is-7">-->
                <!--                    </div>-->
                <!-- 가로정렬(가로 정렬)은 flex+is-align이 아니라 has-text-centered (is-center(ed)는 안먹더라)-->
                <!--                                label-position="on-border"-->
                <!--                                custom-class="is-small"-->
                <b-field
                        custom-class="is-small"
                        label="부서장 여부"
                >
                    <!-- b-switch는 v-model이 data변수 + [input type="checkbox"의 value]로 매핑되는 것이 아니라 input태그아래의 스위치를 담당하는 span태그의 text를 변경시킨다. -->
                    <!-- b-switch는 v-model변수에 대해 :native-value=""를 추가해서 input[type="checkbox"]에 value를 추가한다. -->
                    <!-- b-switch가 input chekcbox를 가지고 있지만, value는 ="false"로만 채워지며, :native-value매핑을 한다고 해도 정상적으로 안넘어간다. -->
                    <!--            => hidden input을 만들고, name과 :value매핑으로 v-model변수를 그대로 가져가도록 하자. -->
                    <!--                            name="as_leader"-->
                    <!--                            :value="isSwitchedCustom"-->
                    <b-switch
                            size="is-small"
                            v-model="isSwitchedCustom"
                            @input="onSelectedDeptIdOrSwitchChange"
                            true-value="부서장"
                            false-value="부서원"
                    >
                        {$ isSwitchedCustom $}
                    </b-switch>
                    <input type="hidden" name="as_leader" :value="isSwitchedCustom">
                </b-field>

                <!--                </div>-->
                <!-- INPUT4:  -->
                <b-field label="부서변경일"
                         custom-class="is-small"
                >
                    <b-datepicker
                            inline
                            icon="calendar-today"
                            v-model="date"
                    >
                    </b-datepicker>
                </b-field>
                <!-- date로 작성하면 => base에서 stringDate로 watch로 보고있다 -->
                <input type="hidden" name="date" v-model="stringDate">


            </section>
            <!-- 일반적인 태그 가운데 정렬은 is-justify-content-center 을 쓰면 된다.-->
            <footer class="modal-card-foot is-justify-content-center">
                <!-- b-button들을 넣으면 1개 이후 사라지는 버그 => a태그 + input(submit) 조합으로 변경-->
                <a class="button is-primary is-light mr-2"
                   @click="isDepartmentModalActive = false; employee_id = null; isSwitchedCustom='부서원';currentDeptList=null;currentDeptId=null;selectableDeptList=null;selectedDeptId=null;"
                >
                    닫기
                </a>
                <input type="submit"
                       class="button is-primary"
                       value="완료"
                       :disabled="isLoading"
                >
            </footer>
        </div>

    </form>
</b-modal>
{% endblock table_content %}
{% endblock member %}


{% block extra_foot_script %}
<script>
    $(function () {
        var timer = null;

        $('.user_popup').hover(
            function (event) {
                // mouse in event handler
                var elem = $(event.currentTarget);
                // console.log(elem)
                // hover된 span태그의 first() a태그의 name text()
                // console.log(elem.first().text().trim())

                // 갖다대자마자 요청보내는게 아니라 1초 머무를 경우, 정보조회로 판단하고 요청보내도록 1초 timer를 건다
                timer = setTimeout(function () {
                    timer = null;
                    // popup logic goes here
                    //@admin_bp.route('employee/<name>/user_popup')
                    // '/admin/employee/' + elem.first().text().trim() + '/user_popup')
                    //@admin_bp.route('employee/<int:employee_id>/user_popup')
                    xhr = $.ajax(
                        '/admin/employee/' + elem.first().text().trim().substring(6, 8) + '/user_popup')
                        .done(
                            function (data) {
                                xhr = null;
                                // create and display popup here
                                elem.popover({
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: elem,
                                    content: data
                                }).popover('show');
                                // flask_moment_render_all();
                            });
                }, 500);

            },
            function (event) {
                // mouse out event handler
                var elem = $(event.currentTarget);
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                } else if (xhr) {
                    xhr.abort();
                    xhr = null;
                } else {
                    // destroy popup here
                    // elem.popover('destroy');
                    // $pop.popover('destroy'); // jQuery < 4.1
                    // $pop.popover('dispose'); // jQuery > 4.1
                    elem.popover('dispose');
                }

            }
        )
    });
</script>
{% endblock extra_foot_script %}

{% block vue_script %}
<script>
    app._data.date = new Date();
    app._data.isSwitchedCustom = '부서원';
    // window.confirm('Are you sure you want to delete this post?');

</script>
{% endblock vue_script %}