{% extends 'base.html' %}

{% block title %} {{ department.name }} {% endblock title %}

{% block extra_head_style %}
<style>
    .is-bottom-bar {
        background-color: #fff;
        border-bottom: 1px solid rgba(24, 28, 33, .06);
        margin-bottom: 0.5rem;
    }

    .is-hero-background {
        background-image: url("{{url_for('static', filename='img/main/hero_background.png')}}");
        background-size: cover;
    }
</style>

<script src="{{url_for('static', filename='js/axios.min.js')}}"></script>
<!--정렬을 위한-->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
{% endblock extra_head_style %}

{% block hero %}{% endblock hero %}

{% block box %}
<div class="columns">
    <!-- 나의 그룹일 땐, post를 좀 더 줄이기 -->
    <div class="column is-{% if g.user.is_upper_department(department) %}7{% else %}8{% endif %}"
         style="border-right:solid 1px #eee ;">
        <div class="box is-shadowless has-background-light py-3">

            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <!-- [new block] 자식들이 내용다르게 돌려쓸 block -->
                            {% block breadcrumb %}
                            <ul>
                                <!-- Home만 addrule /로 직접 걸어주고 -->
                                <li><a href="/">Home</a></li>
                                <!-- 이후로는 직접 객체로 걸어주는데, [현재]면 #으로 걸고 or href주되 is-active면 클릭안되는 상태
                                     .name만 / [부모]도 껴있으면 부모객체 -->
                                <li class="is-active">
                                    <a href="{{ url_for('main.department', id=department.id) }}" aria-current="page">
                                        {{ department.name }}</a>
                                </li>
                            </ul>
                            {% endblock breadcrumb %}
                        </div>
                    </div>

                    {% if g.user.is_upper_department(department) %}
                    <div class="level-right">
                        <div class="level-item">
                            <div class="buttons is-right">
                                {% if g.user.is_upper_department_leader(department) %}
                                <!-- 부서 관리(상위부서장) -->
                                <a href="https://justboil.me/bulma-admin-template/one/"
                                   target="_blank" class="button is-outlined is-danger is-light is-small">
                                    <span class="icon"><i class="mdi mdi-lock-outline default"></i></span>
                                    <span><small>부서관리</small></span>
                                </a>
                                <!-- 통계 관리(상위부서장) -->
                                <a href="https://justboil.me/bulma-admin-template/one/"
                                   target="_blank" class="button is-outlined is-warning is-light is-small">
                                    <span class="icon"><i class="mdi mdi-shape-outline default"></i></span>
                                    <span><small>통계</small></span>
                                </a>
                                {% endif %}
                                <!-- 조직도(부서원) -->
                                <a href="https://justboil.me/bulma-admin-template/one/"
                                   target="_blank" class="button is-outlined is-info is-light is-small">
                                    <span class="icon"><i class="mdi mdi-graph-outline default"></i></span>
                                    <span><small>조직도</small></span>
                                </a>
                                <!-- 글쓰기(부서원) -->
                                <a href="https://justboil.me/bulma-admin-template/one/"
                                   target="_blank" class="button is-outlined is-primary is-light is-small">
                                    <span class="icon"><i class="mdi mdi-pencil-box-outline default"></i></span>
                                    <span><small>글쓰기</small></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </nav>

        </div>

        <!-- [new block] 자식들이 내용다르게 돌려쓸 block -->
        {% block post_box %}
        {% for post in post_list %}
        <div class="pl-2">
            <!-- [좌측정렬] 프로필 | 이름 | 시간 -->
            <div class="is-pulled-left">
                <div class="has-text-grey-light is-size-7 mt-1 is-align-items-center is-flex">
                    <figure class="image  mr-2 is-inline-block" style="border: none;">
                        <img class="is-rounded" style="height: 30px; width: 30px;"
                             src="
                                 {% if post.author.user.avatar %}
                                 {{url_for('download_file', filename=post.author.user.avatar)}}
                                 {% else %}
                                 {{url_for('static', filename='/img/user/default_avatar.svg')}}
                                 {% endif %}
                                "
                             alt="{{ g.user.username }}">
                    </figure>
                    <span class="has-text-black has-text-weight-bold">
                            {{ post.author.name }}
                        </span>
                    <span class="icon"><i class="mdi mdi-clipboard-text-clock-outline"></i></span>
                    {{ post.add_date | feed_datetime(is_feed=True, k=7) }}
                    {% if post.add_date != post.pub_date %}
                    (수정: {{ post.pub_date | feed_datetime(is_feed=True, k=7) }})
                    {% endif %}
                </div>
            </div>

            <!-- [우측정렬] 조회수 + 태그 -->
            <div class="is-pulled-right mr-2">
                <div class="has-text-grey is-size-7">
                    {% if post.tags %}
                    <span class="icon"><i class="mdi mdi-tag-heart-outline"></i></span>{{ post.tags|join(', ') }}
                    {% endif %}
                    <span class="icon"><i class="mdi mdi-eye-outline"></i></span> {{ post.view_count }}
                </div>
            </div>
            <!-- [좌우정렬 후 cleaerfix] -->
            <div class="is-clearfix"></div>

            <!-- title + desc -->
            <div class="mt-2 is-size-5 has-text-weight-bold">
                <a href="{{ url_for('main.department_post_detail', department_id=department.id, id=post.id) }}">
                    {{ post.title }}
                </a>
            </div>
            {% if post.desc %}
            <div class="has-text-grey is-size-7 ">설명: {{ post.desc }}</div>
            {% endif %}

            <!--  카테고리 + 댓글 갯수 + (자식부서) -->
            <div class="my-3 is-size-7 is-flex is-align-items-center">
                <!-- 카테고리 -->
                <a class="tag is-rounded is-size-7 is-{{post.category.icon}} mr-2"
                   href="{{ url_for('main.department_category', department_id=department.id, id=post.category.id) }}">
                    {{ post.category.name }}
                </a>

                <!-- 댓글 갯수 -->
                {% if post.comment_count > 0 %}
                <b-button class="is-rounded has-text-grey mr-2" size="is-small" style="font-size: 0.6rem"
                >
                    <span class="icon" style="width: 20px"><i class="mdi mdi-comment-outline"></i></span>
                    {{ post.comment_count }}
                </b-button>
                {% endif %}

                <!-- level 0 부서일 경우만, 작성자의 상위부서(자식 부서인 level 1 부서) -->
                {% if department.level == 0 %}
                <a class="tag is-rounded is-size-7 is-grey"
                   href="{{ url_for('main.department', id=post.author.upper_department.id) }}">
                    {{ post.author.upper_department.name }}
                </a>
                {% endif %}
            </div>

        </div>
        <div class=" dropdown-divider mb-3"></div>
        {% endfor %}

        {% block pagination %}
        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            {% if pagination.has_prev %}
            <!-- 현재route를 걸어줘야한다 -->
            <a href="{{ url_for('main.department', id=department.id ) }}?page={{ pagination.prev_num }}"
               class="pagination-previous" title="This is the first page">Previous</a>
            {% endif %}
            {% if pagination.has_next %}
            <a href="{{ url_for('main.department', id=department.id ) }}?page={{ pagination.next_num }}"
               class="pagination-next">Next page</a>
            {% endif %}

            <ul class="pagination-list">
                {% for page in pagination.iter_pages() %}
                {% if page %}
                {% if page != pagination.page %}
                <li>
                    <a href="{{ url_for('main.department', id=department.id) }}?page={{ page }}" class="pagination-link"
                       aria-label="Page 1" aria-current="page">{{ page }}</a>
                </li>
                {% else %}
                <li>
                    <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{ page }}</a>
                </li>
                {% endif %}
                {% else %}
                <span class=pagination-ellipsis>&hellip;</span>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endblock pagination %}

        {% endblock post_box %}
    </div>

    <!-- [new html] 자식들이 공유하는 데이터 없는 html  -->
    <div class="column">
        <!-- 해당상위부서 직원일 경우       -->
        {% if g.user and g.user.is_upper_department(department) %}
        <section class="hero is-hero-background is-bottom-bar">
            <div class="hero-body p-2">
                <div class="level">
                    <div class="level-left">
                        <!--                        <div class="level-item is-hero-avatar-item">-->
                        <!--                            <div class="image is-user-avatar"><img-->
                        <!--                                    src="https://avatars.dicebear.com/api/avataaars/example.svg?options[top][]=shortHair&amp;options[accessoriesChance]=93">-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="level-item is-hero-content-item">
                            <div>
                                <h3 class="title is-spaced is-size-6"> 🖐 Hi, <b>{{g.user.employee.name}} !!</b></h3>
                                <p class="subtitle mt-2 is-size-7 ">You have <b>6 to-dos</b> and <b>84 appointments</b>
                                </p></div>
                        </div>
                    </div>
                    <!--                    <div class="level-right">-->
                    <!--                        <div class="level-item"><a href="#/profile" class="button is-light" title="Profile"><span-->
                    <!--                                class="icon"><i-->
                    <!--                                class="mdi mdi-account default"></i></span><span>Manage profile</span></a></div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </section>

        <!-- 나의 할일과 그룹 할일 목록 -->
        <section>
            <b-tabs
                    size="is-small"
                    type="is-boxed"
            >
                <!-- 나의 할일 Tab1 -->
                <b-tab-item>

                    <template #header>
                        <b-icon icon="briefcase-outline" size="is-small" type="is-dark"></b-icon>
                        <span class="icon-text is-size-7 has-text-dark has-text-weight-bold">
                            <small>나의 할 일</small>
                        </span>
                    </template>
                    <!-- 할일 table 컴포넌트 -->
                    <todo-table></todo-table>

                </b-tab-item>

                <!-- 그룹 할일 목록 Tab2 -->
                <b-tab-item>
                    <template #header>
                        <b-icon icon="account-group-outline" size="is-small" type="is-dark"></b-icon>
                        <span class="icon-text is-size-7 has-text-dark has-text-weight-bold">
                            <small>그룹 할 일</small>
                        </span>
                    </template>
                    <ul>
                        {% for post in new_posts %}
                        <li class="pl-2 is-size-7">
                                <span class="tag has-text-weight-bold">
                                    <small>{{ post.author.upper_department.name }}</small>
                                </span>
                            <a href="{{ url_for('main.department_post_detail', department_id=post.author.upper_department.id, id=post.id) }}">
                                [{{ post.category.name }}] {{post.title}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </b-tab-item>

                <b-tab-item disabled>
                    <template #header>
                        <b-icon icon="stairs-up" size="is-small" type="is-dark"></b-icon>
                        <span class="icon-text is-size-7 has-text-dark has-text-weight-bold">
                            <small>보고</small>
                        </span>
                    </template>
                    Nunc nec velit nec libero vestibulum eleifend.
                    Curabitur pulvinar congue luctus.
                    Nullam hendrerit iaculis augue vitae ornare.
                    Maecenas vehicula pulvinar tellus, id sodales felis lobortis eget.
                </b-tab-item>
            </b-tabs>
        </section>
        {% endif %}

        <!-- 검색 -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        <div class="box is-shadowless my-1 py-3 ">
            <h1 class="icon-text is-size-7 has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-magnify"></i></span>
                {{ department.name }} 검색
            </h1>
            <!--            <div class=" dropdown-divider"></div>-->
            <form action="{{url_for('main.department_search', department_id=department.id)}}" method="get"
                  class="pl-2"
            >
                <!--                 <b-field label="{{department.name}} 검색" label-position="on-border" >-->
                <b-field>
                    <b-input placeholder="검색..." type="search" size="is-small"
                             value="{{word}}" name="word"
                    ></b-input>
                    <p class="control">
                        <b-button native-type="submit" class="button is-primary" size="is-small">Search</b-button>
                    </p>
                </b-field>
            </form>
        </div>

        <!-- tag  -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        <div class="box is-shadowless my-1 py-3">
            <h1 class="icon-text is-size-7 has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-tag-multiple-outline"></i></span>
                {{ department.name }} Category
            </h1>
            <!--            <div class=" dropdown-divider"></div>-->
            <div class="tags pl-2">
                {% for category in categories %}
                <a class="tag is-rounded is-size-7 is-{{category.icon}}"
                   href="{{ url_for('main.department_category', department_id=department.id, id=category.id) }}">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- Archive  -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        <div class="box is-shadowless my-1 py-3">
            <h1 class="icon-text is-size-7 has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-calendar-month-outline"></i></span>
                {{ department.name }} Archive
            </h1>
            <!--            <div class="dropdown-divider"></div>-->
            <ul>
                {% for date in dates %}
                <li class="pl-2 is-size-7 ">
                    <span class="has-text-grey-light">•</span>
                    <a href="{{ url_for('main.department_archive', department_id=department.id, date=date) }}">
                        {{date}}
                    </a>
                </li>
                <!--                <div class="dropdown-divider"></div>-->
                {% endfor %}
            </ul>
        </div>

        <!-- tag  -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        <div class="box is-shadowless my-1 py-3">
            <h1 class="icon-text is-size-7 has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-tag-multiple-outline"></i></span>
                {{ department.name }} Tag
            </h1>
            <!--            <div class=" dropdown-divider"></div>-->
            <div class="tags pl-2">
                {% for tag in tags %}
                <a class="tag is-rounded is-size-7 "
                   href="{{ url_for('main.department_tag', department_id=department.id, id=tag.id) }}">
                    {{ tag.name }}
                </a>
                {% endfor %}
            </div>
        </div>


        <!-- root department 전체 게시물 최근 게시글 5개   -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        {% if department.level != 0 %}
        <div class="box is-shadowless my-1 py-3">
            <h1 class="icon-text is-size-7  has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-earth"></i></span>
                전체 최신글
            </h1>
            <!--            <div class=" dropdown-divider"></div>-->
            <ul>
                {% for post in new_posts %}
                <li class="pl-2 is-size-7">
                    <!--                    <span class="has-text-grey-light">{{ loop.index }}.</span>-->
                    <!--                    <span class="has-text-grey-light">-->
                    <!--                        • {{ post.author.upper_department.name }}|{{ post.category.name }}-->
                    <!--                    </span>-->
                    <span class="tag has-text-weight-bold">
                        <small>{{ post.author.upper_department.name }}</small>
                    </span>
                    <!--                    <span class="tag is-rounded is-{{post.category.icon}}">-->
                    <!--                            <small>{{ post.category.name }}</small>-->
                    <!--                    </span>-->
                    <a href="{{ url_for('main.department_post_detail', department_id=post.author.upper_department.id, id=post.id) }}">
                        [{{ post.category.name }}] {{post.title}}
                    </a>
                </li>
                <!--                <div class="dropdown-divider"></div>-->
                {% endfor %}
            </ul>
        </div>
        {% endif %}


    </div>
</div>
{% endblock box %}

{% block extra_foot_script %}
<script>
    var TodoAddModal = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        name: "TodoAddModal",
        template: `
    <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">할일 추가</p>
    </header>
    <section class="modal-card-body">
      <b-field label="내용">
        <b-input type="text" v-model="content" placeholder="할일을 적어주세요." size="is-small">
        </b-input>
      </b-field>

      <b-field label="타입 선택">
        <b-select placeholder="타입 선택" v-model="type"
           size="is-small"
         >
          <option
            v-for="option in types"
            :value="option.id"
            :key="option.id"
          >
            {$ option.name $}
          </option>
        </b-select>
      </b-field>

    <b-field label="기한(선택사항)">
        <!-- append-to-body="true"-->
        <b-datepicker
          inline
          size="is-small"
          v-model="target_date"
          >
        </b-datepicker>
      </b-field>

    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">
        Close
      </button>
      <button class="button is-primary" @click="addTodo">Save</button>
    </footer>
    </div>
        `,
        props: {
            types: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                type: "",
                content: "",
                target_date: null,

            };
        },
        mounted() {
            // this.type = '개인';
            this.type = 0;
        },
        methods: {
            addTodo() {
                const payload = {
                    type: this.type,
                    content: this.content,
                    // null or Wed Mar 01 2023 00:00:00 GMT+0900 (한국 표준시)
                    target_date: this.target_date,
                };

                this.$emit("add-todo", payload);
            }
        }

    };

    var TodoEditModal = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        name: "TodoEditModal",
        template: `
    <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">할일 수정</p>
    </header>
    <section class="modal-card-body">
      <b-field label="내용">
        <b-input type="text" v-model="content" placeholder="할일을 적어주세요." size="is-small">
        </b-input>
      </b-field>

      <b-field label="타입 선택">
        <b-select placeholder="타입 선택" v-model="type"
           size="is-small"
         >
          <option
            v-for="option in types"
            :value="option.id"
            :key="option.id"
          >
            {$ option.name $}
          </option>
        </b-select>
      </b-field>

    <b-field label="기한(선택사항)">
        <b-datepicker
          inline
          size="is-small"
          v-model="target_date"
          >
        </b-datepicker>
      </b-field>

    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">
        Close
      </button>
      <button class="button is-primary" @click="editTodo">Save</button>
    </footer>
    </div>
        `,
        props: {
            types: {
                type: Array,
                required: true
            },
            todo: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                type: "",
                content: "",
                target_date: null,
            };
        },
        mounted() {
            this.content = this.todo.todo;
            this.type = this.todo.type;
            this.target_date = this.parser(this.todo.target_date);
        },
        methods: {
            parser(stringDate) {
                // new Date( null )을 하면 1970/1/1이 생성되므로
                // Date객체를 생성하기 전에 null을 반환한다
                if (!stringDate) {
                    return null
                }
                //2023/03/28 13:43:27
                return new Date(stringDate);
            },
            editTodo() {
                const payload = {
                    // 생성시와 다르게, 수정용 필드에는 안들어가지만, 나가서 수정된 객체를 찾기 위해
                    // -> id를, 바뀌는 필드들과 같이 돌려준다.
                    id: this.todo.id,

                    type: this.type,
                    content: this.content,
                    target_date: this.target_date,
                };

                this.$emit("edit-todo", payload);
            },
        }

    };


    var TodoTable = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        name: "TodoTable",
        components: {TodoAddModal, TodoEditModal},
        template: `
<div>
      <div class="container">
        <div class="level mb-2">
            <b-button class="is-rounded has-text-dark has-text-weight-bold mr-2" size="is-small" style="font-size: 0.75rem"
                @click="isAddModalActive = true"
                >
                    <span class="icon" style="width: 25px"><i class="mdi mdi-plus"></i></span>
                    할 일 추가
            </b-button>
            <b-button class="is-rounded has-text-dark has-text-weight-bold has-background-grey-lighter mr-2" size="is-small" style="font-size: 0.75rem;"
                @click="deleteCompletedTodos"
                >
                    <span class="icon" style="width: 25px"><i class="mdi mdi-delete-outline"></i></span>
                    완료된 할 일 일괄 삭제
            </b-button>

        </div>

        <b-table
            :data="todos"
            :narrowed="true"
            default-sort="complete_date"
            default-sort-direction="desc"
            sort-icon="menu-up"
            sort-icon-size="is-small"
         >


            <b-table-column field="type" label="타입"  width="40" v-slot="todos" sortable :th-attrs="thAttrs" :td-attrs="tdAttrs">
                <span class="tag" :class="todos.row.type === 0 ? ' is-warning is-light' : ' is-warning'">
                    <small>{$ todos.row.type === 0 ? '개인' : '그룹' $}</small>
                </span>
            </b-table-column>

            <b-table-column label="할 일" v-slot="todos" :th-attrs="thAttrs" :td-attrs="tdAttrs">

              <span class="is-size-7 ">{$ todos.row.todo $}</span>

              <!--  수정(완료안됬을 시) -->
              <b-button v-if="!todos.row.complete_date" class="is-white has-text-grey is-size-7 px-1"
                    @click="openEditModal(todos.row)"
                    >
                   <span class="icon"><i class="mdi mdi-note-edit-outline"></i></span>
              </b-button>
            <!--  복원(완료됬을 시)            -->
              <b-button v-else class="is-white has-text-grey is-size-7 px-1"
                    @click="restoreTodo(todos.row)"
                    >
                   <span class="icon"><i class="mdi mdi-restore"></i></span>
              </b-button>
              <!--  삭제 -->
              <b-button class="is-white has-text-grey is-size-7 px-1"
                    @click="deleteTodo(todos.row)">
                   <span class="icon"><i class="mdi mdi-delete-outline"></i></span>
              </b-button>
            </b-table-column>

            <!-- 기한 -->
            <b-table-column field="remain_days" sortable label="기한"  width="40" :th-attrs="thAttrs" :td-attrs="tdAttrs" v-slot="todos" centered>
                  <!-- target_date가 없으면, remain_days가 None이라서 필터링 -->
                  <b-tooltip
                      v-if="todos.row.target_date && todos.row.remain_days != null"
                      position="is-right"
                      type="is-dark">

                        <span v-if="todos.row.remain_days === 0" class="tag is-danger is-light is-size-7">
                            <small>오늘</small>
                        </span>
                        <span v-else-if="todos.row.remain_days < 0" class="tag is-danger is-light has-text-weight-bold is-size-7">
                            <small>{$ todos.row.remain_days $}일</small>
                        </span>
                        <span v-else class="tag is-grey is-size-7">
                            <small>{$ todos.row.remain_days $}일</small>
                        </span>

                       <template v-slot:content>
                           <span  class="is-size-7">
                                <small>{$ new Date(todos.row.target_date).toLocaleDateString() $}</small>
                            </span>
                       </template>
                </b-tooltip>

              <span v-else class="is-size-7">
                <small>-</small>
              </span>
            </b-table-column>

            <b-table-column field="complete_date" label="완료"  width="40" :th-attrs="thAttrs" v-slot="todos" sortable centered>
<!--                <span v-if="todos.row.complete_date" class="tag is-grey is-size-7">-->
<!--                    <small>{$ new Date(todos.row.complete_date).toLocaleDateString() $}</small>-->
<!--                </span>-->
                <b-tooltip
                      v-if="todos.row.complete_date"
                      position="is-right"
                      type="is-dark">

                    <span  class="is-size-7 has-text-weight-bold">
                            <small>완</small>
                    </span>
                       <template v-slot:content>
                            <span  class="is-size-7">
                                <small>{$ new Date(todos.row.complete_date).toLocaleDateString("ko-KR") $}</small>
                            </span>
                       </template>
                </b-tooltip>
                <!-- 완료 -->
                <b-button v-else class="is-white has-text-danger is-size-7"
                    @click="completeTodo(todos.row)"
                    >
                   <span class="icon"><i class="mdi mdi-check-bold"></i></span>
              </b-button>
            </b-table-column>

        </b-table>
      </div>

        <b-modal :active.sync="isAddModalActive" has-modal-card>
          <todo-add-modal
            @add-todo="onAddTodo"
            :types="types"
          ></todo-add-modal>
        </b-modal>

        <b-modal :active.sync="isEditModalActive" has-modal-card>
          <todo-edit-modal
            :types="types"
            :todo="selectedTodo"
            @edit-todo="onEditTodo"
          ></todo-edit-modal>
        </b-modal>
    </div>
</div>
        `,
        data() {
            return {
                //초기데이터
                initialTodos: [
                    {
                        id: 1,
                        todo: "워크 / 코코 / 리카 이어폰 500 만원 이미 받음",
                        type: "개인",

                        target_date: '2023/03/28 13:43:27',
                        remain_days: '5일', // backend

                        complete_date: null,
                    },
                    {
                        id: 2,
                        todo: "Take out the garbage",
                        type: "그룹",

                        target_date: null,
                        remain_days: null,

                        complete_date: null,
                    },
                    {
                        id: 3,
                        todo: "Paint the house",
                        type: "그룹",

                        target_date: '2023/03/28 13:43:27',
                        remain_days: '3일',

                        complete_date: null,
                    },
                    {
                        id: 4,
                        todo: "Replace the doorknob",
                        type: "개인",

                        target_date: '2023/03/26 13:43:27',
                        remain_days: '15일',

                        complete_date: '2016/10/15 13:43:27'
                    },
                    {
                        id: 5,
                        todo: "Smell the roses",
                        type: "개인",

                        target_date: '2023/03/26 13:43:27',
                        remain_days: '10일',

                        complete_date: '2016/10/15 13:43:27'
                    }
                ],
                todos: [],

                // 초기데이터
                types: [
                    {id: 0, name: "개인"},
                    {id: 1, name: "그룹"},
                ],
                isAddModalActive: false,

                selectedTodo: {},
                isEditModalActive: false,
            }
        },
        mounted() {
            // intelligence, DESC로 1차정렬
            // strength, ASC로 2차정렬
            if (localStorage.getItem("todos")) {
                this.todos = JSON.parse(localStorage.getItem("todos"));
            } else {
                // this.todos = this.initialTodos;
                // this.todos = this.getTodos();
                // this.todos = _.orderBy(this.getTodos, ['complete_date', 'target_date', 'type'], ['asc', 'asc', 'desc'])
                this.getTodos();
            }
        },
        methods: {
            toast(message, type = 'is-info', position = 'is-top') {
                this.$buefy.toast.open({
                    type: type,
                    duration: 5000,
                    message: message,
                    position: position,
                });
            },
            orderTodos(todos){
                return _.orderBy(todos, ['complete_date', 'type', 'target_date', ], ['asc', 'desc', 'asc' ]);
            },
            getTodos() {
                axios({
                    url: '{{ url_for("todo.all", employee_id=g.user.employee.id) }}',
                    method: 'get',
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }
                    // console.log('res.data.todos >> ', res.data.todos);

                    this.todos = this.orderTodos(res.data.todos)

                }).catch(err => {
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                });
            },
            thAttrs(column) {
                return {
                    title: 'This title is sponsored by "th-attrs" prop',
                    class: 'has-text-grey is-size-7',
                    style: {
                        'font-size': '.55rem!important;'
                    }
                }
            },
            tdAttrs(row, column) {

                if (row.complete_date) {
                    if (column.label === '할 일') {
                        return {
                            class: 'has-text-grey-light',
                            style: {
                                'text-decoration': 'line-through 1px',
                            }
                        }
                    } else if (column.label === '타입') {
                        return {
                            class: '',
                            style: {
                                'text-decoration': 'line-through 2px #946c00'
                            }
                        }
                    } else if (column.label === '기한') {
                        return {
                            class: '',
                            style: {
                                'text-decoration': 'line-through 1px'
                            }
                        }
                    }
                }
                return null
            },
            saveLocalStorageTodos() {
                localStorage.setItem("todos", JSON.stringify(this.orderTodos(this.todos)));
                this.todos = JSON.parse(localStorage.getItem("todos"));
            },

            onAddTodo(item) {
                // get the highest number id to iterate on it
                // const highestId = Math.max.apply(Math, this.todos.map(item => item.id));

                let payload = {
                    employee_id: parseInt('{{g.user.employee.id}}'),
                    type: item.type,
                    todo: item.content,
                    // null or Wed Mar 01 2023 00:00:00 GMT+0900 (한국 표준시) -> iso string로 변환
                    // target_date: item.target_date,
                    // target_date: item.target_date.toISOString(),
                    // target_date: new Date( item.target_date - item.target_date.getTimezoneOffset() * 60000 ).toISOString(),
                    // target_date: item.target_date.toLocaleDateString(),
                }
                // null이면 string화 안하고 필요도 없고, 채웠으면, date객체이므로 string화 시켜야한다.
                if (item.target_date) {
                    payload['target_date'] = item.target_date.toLocaleDateString("ko-KR")
                }

                axios({
                    url: '{{ url_for("todo.add") }}',
                    method: 'post',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // 통신성공 but 로직 실패(200대 외)
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }

                    // 통신 성공 + (DB 순서변경)로직
                    // Add the item to the array
                    // this.todos.push({
                    //     id: highestId + 1,
                    //     todo: item.content,
                    //     type: item.type,
                    //
                    //     complete_date: null,
                    //
                    //     //return 데이터
                    //     target_date: '2016/10/15 13:43:27', //string
                    //     remain_days: '99일',
                    // });

                    this.todos.push(res.data.new_todo);

                    // save the updated array in localstorage
                    this.saveLocalStorageTodos();

                    this.toast(res.data.message);

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                    // 댓글창 닫아주기
                    this.isAddModalActive = false;
                });
            },

            openEditModal(todo) {
                this.selectedTodo = todo;
                this.isEditModalActive = true;
            },

            findTodo(item) {
                return this.todos.find(o => o.id === item.id);
            },

            onEditTodo(item) {
                let payload = {
                    id: item.id,

                    type: item.type,
                    todo: item.content,
                    // 이미 string으로 들어갔거나 null임.
                }

                // null이면 string화 안하고 필요도 없고, 채웠으면, date객체이므로 string화 시켜야한다.
                if (item.target_date) {
                    payload['target_date'] = item.target_date.toLocaleDateString("ko-KR")
                }

                axios({
                    url: '{{ url_for("todo.edit") }}',
                    method: 'put',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // 통신성공 but 로직 실패(200대 외)
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }

                    let updatedTodo = res.data.updated_todo;

                    // id를 이용해 find
                    const todo = this.findTodo(updatedTodo);

                    // Apply the updated values
                    // id 빼고 업데이트
                    todo.todo = updatedTodo.todo;
                    todo.type = updatedTodo.type;
                    todo.target_date = updatedTodo.target_date;
                    todo.remain_days = updatedTodo.remain_days;

                    // save the updated array in localstorage
                    this.saveLocalStorageTodos();

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');

                }).finally(() => {
                    // close the modal
                    this.isEditModalActive = false;
                });
            },

            deleteTodo(item) {
                this.$buefy.dialog.confirm({
                    title: `할 일 삭제`,
                    confirmText: "삭제",
                    type: "is-danger",
                    // hasIcon: true,
                    message: `정말 삭제하시겠습니까?`,
                    onConfirm: () => {

                        const payload = {
                            id: item.id
                        }
                        axios({
                            url: '{{ url_for("todo.delete") }}',
                            method: 'delete',
                            data: payload,
                            headers: {'Content-type': 'application/json;charset=utf-8'},
                        }).then(res => {
                            if (res.status >= 300) {
                                this.toast(res.data.message, 'is-danger');
                                return;
                            }
                            // 통신 성공 + (status변경)로직 성공
                            // find in the array and remove
                            const index = this.todos.indexOf(item);
                            this.todos.splice(index, 1);

                            // save the updated array in localstorage
                            this.saveLocalStorageTodos();
                            ;

                        }).catch(err => {
                            console.log(err)
                            this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                        }).finally(() => {
                        });
                    }
                });
            },

            deleteCompletedTodos() {
                this.$buefy.dialog.confirm({
                    title: `완료된 할일 삭제`,
                    confirmText: "삭제",
                    type: "is-danger",
                    // hasIcon: true,
                    message: `완료된 할 일들을 삭제하시겠습니까?`,
                    onConfirm: () => {
                        // 완료된 것들만 id 모으기
                        let targetTodos = this.todos.filter((item) => item.complete_date);
                        targetTodoIds = targetTodos.map((item) => item.id)

                        const payload = {
                            ids: targetTodoIds
                        }
                        axios({
                            url: '{{ url_for("todo.delete_completed") }}',
                            method: 'delete',
                            data: payload,
                            headers: {'Content-type': 'application/json;charset=utf-8'},
                        }).then(res => {
                            if (res.status >= 300) {
                                this.toast(res.data.message, type = 'is-danger');
                                return;
                            }
                            // 통신 성공 + (status변경)로직 성공
                            // 완료안된 것만 필터링해서 넣어주기
                            this.todos = this.todos.filter((item) => !item.complete_date)
                            // save the updated array in localstorage
                            this.saveLocalStorageTodos();
                        }).catch(err => {
                            console.log(err)
                            this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                        }).finally(() => {
                        });
                    }
                });
            },

            completeTodo(item) {
                let payload = {
                    id: item.id,

                    complete_date: new Date().toLocaleDateString("ko-KR")
                }

                axios({
                    url: '{{ url_for("todo.complete") }}',
                    method: 'put',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // 통신성공 but 로직 실패(200대 외)
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }

                    let updatedTodo = res.data.updated_todo;

                    // id를 이용해 find
                    const todo = this.findTodo(updatedTodo);

                    // Apply the updated values
                    // id 빼고 업데이트
                    todo.complete_date = updatedTodo.complete_date;

                    // save the updated array in localstorage
                    this.saveLocalStorageTodos();

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');

                }).finally(() => {
                });
            },

            restoreTodo(item) {
                let payload = {
                    id: item.id,

                    complete_date: null
                }

                axios({
                    url: '{{ url_for("todo.restore") }}',
                    method: 'put',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // 통신성공 but 로직 실패(200대 외)
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }

                    let updatedTodo = res.data.updated_todo;

                    // id를 이용해 find
                    const todo = this.findTodo(updatedTodo);

                    // Apply the updated values
                    // id 빼고 업데이트
                    todo.complete_date = null;

                    // save the updated array in localstorage
                    this.saveLocalStorageTodos();

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');

                }).finally(() => {
                });

            },

        },
    }
</script>
{% endblock extra_foot_script %}

{% block vue_mixins %}
<script>

    const myMixin = {
        components: {
            TodoTable
        },
        data() {
            return {};
        },
    }
</script>
{% endblock vue_mixins %}