{% extends 'base.html' %}

{% block title %} {{ department.name }} {% endblock title %}

{% block extra_head_style %}
<style>
    .is-bottom-bar {
        background-color: #fff;
        border-bottom: 1px solid rgba(24, 28, 33, .06);
        margin-bottom: 0.5rem;
    }

    .is-hero-background {
        background-image: url("{{url_for('static', filename='img/main/hero_background.png')}}");
        background-size: cover;
    }
</style>
{% endblock extra_head_style %}

{% block hero %}{% endblock hero %}

{% block box %}
<div class="columns">
    <!-- 나의 그룹일 땐, post를 좀 더 줄이기 -->
    <div class="column is-{% if g.user.is_upper_department(department) %}7{% else %}8{% endif %}"
         style="border-right:solid 1px #eee ;">
        <div class="box is-shadowless has-background-light py-3">

            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <!-- [new block] 자식들이 내용다르게 돌려쓸 block -->
                            {% block breadcrumb %}
                            <ul>
                                <!-- Home만 addrule /로 직접 걸어주고 -->
                                <li><a href="/">Home</a></li>
                                <!-- 이후로는 직접 객체로 걸어주는데, [현재]면 #으로 걸고 or href주되 is-active면 클릭안되는 상태
                                     .name만 / [부모]도 껴있으면 부모객체 -->
                                <li class="is-active">
                                    <a href="{{ url_for('main.department', id=department.id) }}" aria-current="page">
                                        {{ department.name }}</a>
                                </li>
                            </ul>
                            {% endblock breadcrumb %}
                        </div>
                    </div>

                    {% if g.user.is_upper_department(department) %}
                    <div class="level-right">
                        <div class="level-item">
                            <div class="buttons is-right">
                                {% if g.user.is_upper_department_leader(department) %}
                                <!-- 부서 관리(상위부서장) -->
                                <a href="https://justboil.me/bulma-admin-template/one/"
                                   target="_blank" class="button is-outlined is-danger is-light is-small">
                                    <span class="icon"><i class="mdi mdi-lock-outline default"></i></span>
                                    <span><small>부서관리</small></span>
                                </a>
                                <!-- 통계 관리(상위부서장) -->
                                <a href="https://justboil.me/bulma-admin-template/one/"
                                   target="_blank" class="button is-outlined is-warning is-light is-small">
                                    <span class="icon"><i class="mdi mdi-shape-outline default"></i></span>
                                    <span><small>통계</small></span>
                                </a>
                                {% endif %}
                                <!-- 조직도(부서원) -->
                                <a href="https://justboil.me/bulma-admin-template/one/"
                                   target="_blank" class="button is-outlined is-info is-light is-small">
                                    <span class="icon"><i class="mdi mdi-graph-outline default"></i></span>
                                    <span><small>조직도</small></span>
                                </a>
                                <!-- 글쓰기(부서원) -->
                                <a href="https://justboil.me/bulma-admin-template/one/"
                                   target="_blank" class="button is-outlined is-primary is-light is-small">
                                    <span class="icon"><i class="mdi mdi-pencil-box-outline default"></i></span>
                                    <span><small>글쓰기</small></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </nav>

        </div>

        <!-- [new block] 자식들이 내용다르게 돌려쓸 block -->
        {% block post_box %}
        {% for post in post_list %}
        <div class="pl-2">
            <!-- [좌측정렬] 프로필 | 이름 | 시간 -->
            <div class="is-pulled-left">
                <div class="has-text-grey-light is-size-7 mt-1 is-align-items-center is-flex">
                    <figure class="image  mr-2 is-inline-block" style="border: none;">
                        <img class="is-rounded" style="height: 30px; width: 30px;"
                             src="
                                 {% if post.author.user.avatar %}
                                 {{url_for('download_file', filename=post.author.user.avatar)}}
                                 {% else %}
                                 {{url_for('static', filename='/img/user/default_avatar.svg')}}
                                 {% endif %}
                                "
                             alt="{{ g.user.username }}">
                    </figure>
                    <span class="has-text-black has-text-weight-bold">
                            {{ post.author.name }}
                        </span>
                    <span class="icon"><i class="mdi mdi-clipboard-text-clock-outline"></i></span>
                    {{ post.add_date | feed_datetime(is_feed=True, k=7) }}
                    {% if post.add_date != post.pub_date %}
                    (수정: {{ post.pub_date | feed_datetime(is_feed=True, k=7) }})
                    {% endif %}
                </div>
            </div>

            <!-- [우측정렬] 조회수 + 태그 -->
            <div class="is-pulled-right mr-2">
                <div class="has-text-grey is-size-7">
                    {% if post.tags %}
                    <span class="icon"><i class="mdi mdi-tag-heart-outline"></i></span>{{ post.tags|join(', ') }}
                    {% endif %}
                    <span class="icon"><i class="mdi mdi-eye-outline"></i></span> {{ post.view_count }}
                </div>
            </div>
            <!-- [좌우정렬 후 cleaerfix] -->
            <div class="is-clearfix"></div>

            <!-- title + desc -->
            <div class="mt-2 is-size-5 has-text-weight-bold">
                <a href="{{ url_for('main.department_post_detail', department_id=department.id, id=post.id) }}">
                    {{ post.title }}
                </a>
            </div>
            {% if post.desc %}
            <div class="has-text-grey is-size-7 ">설명: {{ post.desc }}</div>
            {% endif %}

            <!--  카테고리 + 댓글 갯수 + (자식부서) -->
            <div class="my-3 is-size-7 is-flex is-align-items-center">
                <!-- 카테고리 -->
                <a class="tag is-rounded is-size-7 is-{{post.category.icon}} mr-2"
                   href="{{ url_for('main.department_category', department_id=department.id, id=post.category.id) }}">
                    {{ post.category.name }}
                </a>

                <!-- 댓글 갯수 -->
                {% if post.comment_count > 0 %}
                <b-button class="is-rounded has-text-grey mr-2" size="is-small" style="font-size: 0.6rem"
                >
                    <span class="icon" style="width: 20px"><i class="mdi mdi-comment-outline"></i></span>
                    {{ post.comment_count }}
                </b-button>
                {% endif %}

                <!-- level 0 부서일 경우만, 작성자의 상위부서(자식 부서인 level 1 부서) -->
                {% if department.level == 0 %}
                <a class="tag is-rounded is-size-7 is-grey"
                   href="{{ url_for('main.department', id=post.author.upper_department.id) }}">
                    {{ post.author.upper_department.name }}
                </a>
                {% endif %}
            </div>

        </div>
        <div class=" dropdown-divider mb-3"></div>
        {% endfor %}

        {% block pagination %}
        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            {% if pagination.has_prev %}
            <!-- 현재route를 걸어줘야한다 -->
            <a href="{{ url_for('main.department', id=department.id ) }}?page={{ pagination.prev_num }}"
               class="pagination-previous" title="This is the first page">Previous</a>
            {% endif %}
            {% if pagination.has_next %}
            <a href="{{ url_for('main.department', id=department.id ) }}?page={{ pagination.next_num }}"
               class="pagination-next">Next page</a>
            {% endif %}

            <ul class="pagination-list">
                {% for page in pagination.iter_pages() %}
                {% if page %}
                {% if page != pagination.page %}
                <li>
                    <a href="{{ url_for('main.department', id=department.id) }}?page={{ page }}" class="pagination-link"
                       aria-label="Page 1" aria-current="page">{{ page }}</a>
                </li>
                {% else %}
                <li>
                    <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{ page }}</a>
                </li>
                {% endif %}
                {% else %}
                <span class=pagination-ellipsis>&hellip;</span>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% endblock pagination %}

        {% endblock post_box %}
    </div>

    <!-- [new html] 자식들이 공유하는 데이터 없는 html  -->
    <div class="column">
        <!-- 해당상위부서 직원일 경우       -->
        {% if g.user and g.user.is_upper_department(department) %}
        <section class="hero is-hero-background is-bottom-bar">
            <div class="hero-body p-2">
                <div class="level">
                    <div class="level-left">
                        <!--                        <div class="level-item is-hero-avatar-item">-->
                        <!--                            <div class="image is-user-avatar"><img-->
                        <!--                                    src="https://avatars.dicebear.com/api/avataaars/example.svg?options[top][]=shortHair&amp;options[accessoriesChance]=93">-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="level-item is-hero-content-item">
                            <div>
                                <h3 class="title is-spaced is-size-6"> 🖐 Hi, <b>{{g.user.employee.name}} !!</b></h3>
                                <p class="subtitle mt-2 is-size-7 ">You have <b>6 to-dos</b> and <b>84 appointments</b>
                                </p></div>
                        </div>
                    </div>
                    <!--                    <div class="level-right">-->
                    <!--                        <div class="level-item"><a href="#/profile" class="button is-light" title="Profile"><span-->
                    <!--                                class="icon"><i-->
                    <!--                                class="mdi mdi-account default"></i></span><span>Manage profile</span></a></div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </section>

        <!-- 나의 할일과 그룹 할일 목록 -->
        <section>
            <b-tabs
                    size="is-small"
                    type="is-boxed"
            >
                <!-- 나의 할일 Tab1 -->
                <b-tab-item>

                    <template #header>
                        <b-icon icon="briefcase-outline" size="is-small" type="is-dark"></b-icon>
                        <span class="icon-text is-size-7 has-text-dark has-text-weight-bold">
                            <small>나의 할 일</small>
                        </span>
                    </template>
                    <!-- 할일 table 컴포넌트 -->
                    <todo-table></todo-table>

                </b-tab-item>

                <!-- 그룹 할일 목록 Tab2 -->
                <b-tab-item>
                    <template #header>
                        <b-icon icon="account-group-outline" size="is-small" type="is-dark"></b-icon>
                        <span class="icon-text is-size-7 has-text-dark has-text-weight-bold">
                            <small>그룹 할 일</small>
                        </span>
                    </template>
                    <ul>
                        {% for post in new_posts %}
                        <li class="pl-2 is-size-7">
                                <span class="tag has-text-weight-bold">
                                    <small>{{ post.author.upper_department.name }}</small>
                                </span>
                            <a href="{{ url_for('main.department_post_detail', department_id=post.author.upper_department.id, id=post.id) }}">
                                [{{ post.category.name }}] {{post.title}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </b-tab-item>

                <b-tab-item disabled>
                    <template #header>
                        <b-icon icon="stairs-up" size="is-small" type="is-dark"></b-icon>
                        <span class="icon-text is-size-7 has-text-dark has-text-weight-bold">
                            <small>보고</small>
                        </span>
                    </template>
                    Nunc nec velit nec libero vestibulum eleifend.
                    Curabitur pulvinar congue luctus.
                    Nullam hendrerit iaculis augue vitae ornare.
                    Maecenas vehicula pulvinar tellus, id sodales felis lobortis eget.
                </b-tab-item>
            </b-tabs>
        </section>
        {% endif %}

        <!-- 검색 -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        <div class="box is-shadowless my-1 py-3 ">
            <h1 class="icon-text is-size-7 has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-magnify"></i></span>
                {{ department.name }} 검색
            </h1>
            <!--            <div class=" dropdown-divider"></div>-->
            <form action="{{url_for('main.department_search', department_id=department.id)}}" method="get"
                  class="pl-2"
            >
                <!--                 <b-field label="{{department.name}} 검색" label-position="on-border" >-->
                <b-field>
                    <b-input placeholder="검색..." type="search" size="is-small"
                             value="{{word}}" name="word"
                    ></b-input>
                    <p class="control">
                        <b-button native-type="submit" class="button is-primary" size="is-small">Search</b-button>
                    </p>
                </b-field>
            </form>
        </div>

        <!-- tag  -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        <div class="box is-shadowless my-1 py-3">
            <h1 class="icon-text is-size-7 has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-tag-multiple-outline"></i></span>
                {{ department.name }} Category
            </h1>
            <!--            <div class=" dropdown-divider"></div>-->
            <div class="tags pl-2">
                {% for category in categories %}
                <a class="tag is-rounded is-size-7 is-{{category.icon}}"
                   href="{{ url_for('main.department_category', department_id=department.id, id=category.id) }}">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- Archive  -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        <div class="box is-shadowless my-1 py-3">
            <h1 class="icon-text is-size-7 has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-calendar-month-outline"></i></span>
                {{ department.name }} Archive
            </h1>
            <!--            <div class="dropdown-divider"></div>-->
            <ul>
                {% for date in dates %}
                <li class="pl-2 is-size-7 ">
                    <span class="has-text-grey-light">•</span>
                    <a href="{{ url_for('main.department_archive', department_id=department.id, date=date) }}">
                        {{date}}
                    </a>
                </li>
                <!--                <div class="dropdown-divider"></div>-->
                {% endfor %}
            </ul>
        </div>

        <!-- tag  -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        <div class="box is-shadowless my-1 py-3">
            <h1 class="icon-text is-size-7 has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-tag-multiple-outline"></i></span>
                {{ department.name }} Tag
            </h1>
            <!--            <div class=" dropdown-divider"></div>-->
            <div class="tags pl-2">
                {% for tag in tags %}
                <a class="tag is-rounded is-size-7 "
                   href="{{ url_for('main.department_tag', department_id=department.id, id=tag.id) }}">
                    {{ tag.name }}
                </a>
                {% endfor %}
            </div>
        </div>


        <!-- root department 전체 게시물 최근 게시글 5개   -->
        <!--        <div class="box is-shadowless" style="border:solid 1px #eee ;">-->
        {% if department.level != 0 %}
        <div class="box is-shadowless my-1 py-3">
            <h1 class="icon-text is-size-7  has-text-weight-bold is-bottom-bar">
                <span class="icon"><i class="mdi mdi-earth"></i></span>
                전체 최신글
            </h1>
            <!--            <div class=" dropdown-divider"></div>-->
            <ul>
                {% for post in new_posts %}
                <li class="pl-2 is-size-7">
                    <!--                    <span class="has-text-grey-light">{{ loop.index }}.</span>-->
                    <!--                    <span class="has-text-grey-light">-->
                    <!--                        • {{ post.author.upper_department.name }}|{{ post.category.name }}-->
                    <!--                    </span>-->
                    <span class="tag has-text-weight-bold">
                        <small>{{ post.author.upper_department.name }}</small>
                    </span>
                    <!--                    <span class="tag is-rounded is-{{post.category.icon}}">-->
                    <!--                            <small>{{ post.category.name }}</small>-->
                    <!--                    </span>-->
                    <a href="{{ url_for('main.department_post_detail', department_id=post.author.upper_department.id, id=post.id) }}">
                        [{{ post.category.name }}] {{post.title}}
                    </a>
                </li>
                <!--                <div class="dropdown-divider"></div>-->
                {% endfor %}
            </ul>
        </div>
        {% endif %}


    </div>
</div>
{% endblock box %}

{% block extra_foot_script %}
<script>
    var TodoAddModal = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        name: "TodoAddModal",
        template: `
    <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">할일 추가</p>
    </header>
    <section class="modal-card-body">
      <b-field label="내용">
        <b-input type="text" v-model="content" placeholder="할일을 적어주세요." size="is-small">
        </b-input>
      </b-field>

      <b-field label="기한(선택사항)">
<!--          inline-->
        <b-datepicker
          append-to-body="true"
          size="is-small"
          >
        </b-datepicker>
      </b-field>

      <b-field label="타입 선택">
        <b-select placeholder="타입 선택" v-model="type"
           size="is-small"
         >
          <option
            v-for="option in types"
            :value="option.name"
            :key="option.id"

          >
            {$ option.name $}
          </option>
        </b-select>
      </b-field>

    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">
        Close
      </button>
      <button class="button is-primary" @click="addTodo">Save</button>
    </footer>
    </div>
        `,
        props: {
            types: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                // type: "",
                type:  '개인',
                content: ""
            };
        },
        methods: {
            addTodo() {
                const payload = {
                    type: this.type,
                    content: this.content
                };
                this.$emit("add-todo", payload);
            }
        }

    }


    var TodoTable = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        name: "TodoTable",
        components: {TodoAddModal},
        template: `
<div>
      <div class="container">
        <div class="level mb-2">
            <b-button class="is-rounded has-text-dark has-text-weight-bold mr-2" size="is-small" style="font-size: 0.75rem"
                @click="isAddModalActive = true"
                >
                    <span class="icon" style="width: 25px"><i class="mdi mdi-plus"></i></span>
                    할 일 추가
            </b-button>
            <b-button class="is-rounded has-text-dark has-text-weight-bold has-background-grey-lighter mr-2" size="is-small" style="font-size: 0.75rem;"
                @click=""
                >
                    <span class="icon" style="width: 25px"><i class="mdi mdi-delete-outline"></i></span>
                    완료 일괄 삭제
            </b-button>

        </div>

        <b-table
            :data="todos"
            :narrowed="true"
            default-sort="complete_date"
            default-sort-direction="desc"
            sort-icon="menu-up"
            sort-icon-size="is-small"
         >


            <b-table-column field="type" label="타입"  width="40" v-slot="todos" sortable :th-attrs="thAttrs" :td-attrs="tdAttrs" centered>
                <span class="tag" :class="todos.row.type === '개인' ? ' is-warning is-light' : ' is-warning'">
                    <small>{$ todos.row.type $}</small>
                </span>
            </b-table-column>

            <b-table-column label="할 일" v-slot="todos" :th-attrs="thAttrs" :td-attrs="tdAttrs">

              <span class="is-size-7 has-text-weight-bold">{$ todos.row.todo $}</span>

              <!--  수정(완료안됬을 시)/삭제 -->
              <a v-show="!todos.row.complete_date"class=" has-text-warning-dark is-size-7"
                       href="">
                   <span class="icon"><i class="mdi mdi-note-edit-outline"></i></span>
              </a>
              <a class=" has-text-warning-dark is-size-7"
                       href="">
                   <span class="icon"><i class="mdi mdi-delete-outline"></i></span>
              </a>
            </b-table-column>


            <b-table-column field="due_date" label="기한"  width="40" :th-attrs="thAttrs" :td-attrs="tdAttrs" v-slot="todos" centered>

                  <b-tooltip
                      v-if="todos.row.target_date"
                      position="is-right"
                      type="is-warning">

                        <span class="tag is-grey is-size-7">
                            <small>{$ todos.row.remain_days $}</small>
                        </span>

                       <template v-slot:content>
                           <span  class="is-size-7">
                                <small>{$ new Date(todos.row.target_date).toLocaleDateString() $}</small>
                            </span>
                       </template>
                </b-tooltip>

              <span v-else class="is-size-7">
                <small>-</small>
              </span>
            </b-table-column>

            <b-table-column field="complete_date" label="완료"  width="40" :th-attrs="thAttrs" v-slot="todos" sortable centered>
                <span v-if="todos.row.complete_date" class="tag is-grey is-size-7">
                    <small>{$ new Date(todos.row.complete_date).toLocaleDateString() $}</small>
                </span>
                <span v-else class="is-size-7">
                    <a class=" has-text-danger "
                        href="">
                        <span class="icon"><i class="mdi mdi-check-bold"></i></span>
                    </a>
                </span>

            </b-table-column>
        </b-table>
      </div>

        <b-modal :active.sync="isAddModalActive" has-modal-card>
          <todo-add-modal
            @add-todo="onAddTodo"
            :types="types"
          ></todo-add-modal>
        </b-modal>
      </div>
</div>
        `,
        data() {
            return {
                //초기데이터
                initialTodos: [
                    {
                        id: 1,
                        todo: "워크 / 코코 / 리카 이어폰 500 만원 이미 받음",
                        type: "개인",

                        target_date: '2016/10/15 13:43:27',
                        remain_days: '5일',

                        complete_date: null,
                    },
                    {
                        id: 2,
                        todo: "Take out the garbage",
                        type: "그룹",

                        target_date: null,
                        remain_days: null,

                        complete_date: null,
                    },
                    {
                        id: 3,
                        todo: "Paint the house",
                        type: "그룹",

                        target_date: '2016/10/15 13:43:27',
                        remain_days: '3일',

                        complete_date: null,
                    },
                    {
                        id: 4,
                        todo: "Replace the doorknob",
                        type: "개인",

                        target_date: '2016/10/15 13:43:27',
                        remain_days: '15일',

                        complete_date: '2016/10/15 13:43:27'
                    },
                    {
                        id: 5,
                        todo: "Smell the roses",
                        type: "개인",

                        target_date: '2016/10/15 13:43:27',
                        remain_days: '10일',

                        complete_date: '2016/10/15 13:43:27'
                    }
                ],
                todos: [],

                // 초기데이터
                types: [
                    {id: 1, name: "개인"},
                    {id: 2, name: "그룹"},
                ],
                isAddModalActive: false,

                selectedTodo: {},
                // isEditModalActive: false,
            }
        },
        mounted() {
            if (localStorage.getItem("todos")) {
                this.todos = JSON.parse(localStorage.getItem("todos"));
            } else {
                this.todos = this.initialTodos;
            }
        },
        methods: {
            thAttrs(column) {
                return {
                    title: 'This title is sponsored by "th-attrs" prop',
                    class: 'has-text-grey is-size-7',
                    style: {
                        'font-size': '.55rem!important;'
                    }
                }
            },
            tdAttrs(row, column) {

                if (row.complete_date) {
                    if (column.label === '할 일') {
                        return {
                            class: 'has-text-grey-light',
                            style: {
                                'text-decoration': 'line-through 1px',
                            }
                        }
                    } else if (column.label === '타입') {
                        return {
                            class: '',
                            style: {
                                'text-decoration': 'line-through 2px #946c00'
                            }
                        }
                    } else if (column.label === '기한') {
                        return {
                            class: '',
                            style: {
                                'text-decoration': 'line-through 1px'
                            }
                        }
                    }
                }
                return null
            },
            onAddTodo(item) {
                // get the highest number id to iterate on it
                const highestId = Math.max.apply(Math, this.todos.map(item => item.id));
                // Add the item to the array
                this.todos.push({
                    id: highestId + 1,
                    todo: item.content,
                    type: item.type,

                    complete_date: null,

                    //return 데이터
                    target_date: '2016/10/15 13:43:27',
                    remain_days: '99일',
                });

                // save the updated array in localstorage
                this.saveLocalStorageTodos();

                this.isAddModalActive = false;
            },
            saveLocalStorageTodos() {
                localStorage.setItem("todos", JSON.stringify(this.todos));
                this.todos = JSON.parse(localStorage.getItem("todos"));
            }
        },
    }
</script>
{% endblock extra_foot_script %}

{% block vue_mixins %}
<script>

    const myMixin = {
        components: {
            TodoTable
        },
        data() {
            return {};
        },
    }
</script>
{% endblock vue_mixins %}