{% extends 'main/department.html' %}

{% block extra_head_style %}
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css"
        integrity="sha512-zb2pp+R+czM7GAemdSUQt6jFmr3qCo6ikvBgVU6F5GvwEDR0C2sefFiPEJ9QUpmAKdD5EqDUdNRtbOYnbF/eyQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
/>

<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="{{url_for('static', filename='js/axios.min.js')}}"></script>
{% endblock extra_head_style %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block breadcrumb %}
<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li><a href="/">Home</a></li>
        <li ><a href="{{ url_for('main.department', id=department.id) }}" aria-current="page">{{ department.name }}</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ post.title }}</a></li>
    </ul>
</nav>
{% endblock breadcrumb %}

{% block post_box %}
<div class="pl-2">
    <div class="is-size-5 is-flex is-align-items-center">
        <div class="tag is-rounded is-size-6 is-{{post.category.icon}}">
            {{ post.category.name }}
        </div>
        <div class="ml-2 has-text-weight-bold">
            {{ post.title }}
        </div>
    </div>
    <!-- [좌측정렬] 프로필 | 이름 | 시간 -->
    <div class="is-pulled-left">
        <div class="has-text-grey-light is-size-6 mt-1 is-align-items-center is-flex">
            <figure class="image  mr-2 is-inline-block" style="border: none;">
                <img class="is-rounded" style="height: 36px; width: 36px;"
                     src="
                         {% if post.author.user.avatar %}
                         {{url_for('download_file', filename=post.author.user.avatar)}}
                         {% else %}
                         {{url_for('static', filename='/img/user/default_avatar.svg')}}
                         {% endif %}
                        "
                     alt="{{ g.user.username }}">
            </figure>
            <span class="has-text-black has-text-weight-bold">
                        {{ post.author.name }}
                    </span>
            <span class="icon"><i class="mdi mdi-clipboard-text-clock-outline"></i></span>
            {{ post.add_date | feed_datetime(is_feed=True) }}
            {% if post.add_date != post.pub_date %}
             (수정됨)
            {% endif %}
        </div>
    </div>

    <!-- [우측정렬] 조회수 + 태그 -->
    <div class="is-pulled-right mr-2">
        <div class="has-text-grey is-size-6">
            {% if post.tags %}
            <span class="icon"><i class="mdi mdi-tag-heart-outline"></i></span>{{ post.tags|join(',') }}
            {% endif %}
            <span class="icon"><i class="mdi mdi-eye-outline"></i></span> {{ post.view_count }}
        </div>
    </div>
    <!-- [좌우정렬 후 cleaerfix] -->
    <div class="is-clearfix"></div>

    <!-- markdown 적용예정인 필드는 |safe를 달아준다.   -->
    <!--        <div class="content has-text-grey mt-1 ">{{ post.content | safe }}</div>-->
    <div class="markdown-body mt-4">{{ post.content | safe }}</div>
</div>

<hr>
<!-- NEW 이전글 다음글을 div.level태그 안에 left/right로 만들어준다.-->
<div class="level is-size-7">
    <div class="level-left">
        {% if prev_post %}
            이전 글：<a href="{{ url_for('main.department_post_detail', department_id=department.id, id=prev_post.id) }}">
            {{prev_post.title }}</a>
        {% endif %}
    </div>
    <div class="level-right">
        {% if next_post %}
            다음 글：<a href="{{ url_for('main.department_post_detail', department_id=department.id, id=next_post.id) }}">
            {{next_post.title }} </a>
        {% endif %}
    </div>
</div>

<!-- 댓글 추가 -->
{% if g.user %}
<div>
    <span class="is-size-6 has-text-weight-bold"> 댓글 </span>
    <comments :comments="comments"/>
</div>
<pre>{$ comments $}</pre>
{% endif %}
{% endblock post_box %}


<!-- 댓글 관련 소스 -->
{% block extra_foot_script %}
<script>
    var username = 'test'

    var NewComment = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        template: `
<article class="media" >
    <!-- avatar -->
    <figure class="media-left image">
        <img class="is-rounded" style="height: 32px; width: 32px"
            src="
            {% if g.user.avatar %}
             {{url_for('download_file', filename=g.user.avatar)}}
             {% else %}
             {{url_for('static', filename='/img/user/default_avatar.svg')}}
             {% endif %}
             "
            alt="{{ g.user.username }}"/>
    </figure>
    <!-- textarea + button -->
    <div class="media-content">
        <b-input type="textarea" size="is-small" rows="2" placeholder="댓글을 입력해주세요"
        v-model="content"
        rounded
         />
        <b-button class="mt-1 is-rounded" size="is-small" style="font-size: 0.6rem"
            @click="emitContent"
        >
            등록
        </b-button>
  </div>
</article>
   `,
        data() {
            return {
                content: '',
            }
        },

        methods: {
            emitContent() {
                // console.log(this.content)

                // 부모가 자식 사용시 @add-comment 사용
                this.$emit('add-comment', this.content)

                // 보내고 비우기
                this.content = ''
            }
        }
    }

    var EditComment = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        template: `
<article class="media">
    <!-- textarea + button -->
    <div class="media-content">
        <b-input type="textarea" class="is-rounded" size="is-small" rows="2"
            v-model="content"
         />
        <b-button class=" is-rounded" size="is-small" style="font-size: 0.6rem"
            @click="emitContent"
        >
            수정
        </b-button>
        <b-button class=" is-rounded is-light" size="is-small" style="font-size: 0.6rem"
            @click="emitCancel"
        >
            취소
        </b-button>
  </div>
</article>
   `,
        data() {
            return {
                content: '',
            }
        },
        props: {
            parent_content: {
                type: String,
                default: ''
            },
        },

        methods: {
            emitContent() {
                // 부모가 자식 사용시 @edit-comment 사용
                this.$emit('edit-comment', this.content)

                // 보내고 비우기
                this.content = ''
            },
            emitCancel() {
                this.$emit('cancel-comment');
            }
        },
        created() {
            this.content = this.parent_content;
        }
    }

    var Comment = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        template: `
<article class="media my-1">
    <!-- avatar -->
    <figure class="media-left image mr-4">
<!--        <img class="is-rounded" style="height: 100% width: 100%" src="https://bulma.io/images/placeholders/96x96.png" />-->
        <img class="is-rounded" style="height: 32px; width: 32px"
            :src="child.avatar && child.avatar.length > 0
                ? '/uploads/'+ child.avatar
                : '{{url_for('static', filename='img/user/default_avatar.svg')}}'
                "
            :alt="child.author_name"
        />
    </figure>
    <div class="media-content">
    <div class="content is-size-7">
        <div class="level mb-2">
            <div class="level-left m-0">
                <!--  좌측 이름 | 시간  -->
                <strong :class="child.author_name == '{{post.author.name}}' ? 'tag is-primary is-light is-rounded' : ''"
                        :style="child.author_name == '{{post.author.name}}' ? 'font-size: 0.6rem' : ''"
                >
                    {$ child.author_name $}
                </strong>
                <span class="has-text-grey mx-1">
                    <small>
                    {$ child.feed_date $}
                    {$ child.add_date != child.pub_date ? '(수정됨)' : '' $}
                    </small>
                </span>
            </div>
            <div class="level-right m-0 has-text-weight-bold">
                <small>
                    <!--  우측 dropdown -->
                    <b-dropdown aria-role="list"
                                position="is-bottom-left"
                                >
                        <template #trigger>
                            <!--  dropdown icon -->
                            <span class="icon" style="width: 10px">
                                <i class="mdi mdi-dots-vertical" role="button"></i>
                            </span>
                        </template>

                        <!--  dropdown list -->
                        <b-dropdown-item aria-role="listitem"
                            v-show="child.author_name == '{{g.user.employee.name}}'"
                            @click="showEditReply = !showEditReply"
                        >
                            <b-icon class="media-left" icon="square-edit-outline" size="is-small"></b-icon>
                            <small>수정</small>
                        </b-dropdown-item>

                        <b-dropdown-item aria-role="listitem"
                            v-show="child.author_name == '{{g.user.employee.name}}'"
                            @click="$emit('delete-comment', child)"
                        >
                            <b-icon class="media-left" icon="delete-outline" size="is-small"></b-icon>
                            <small>삭제(댓글 달리면 BLIND)</small>
                        </b-dropdown-item>

                        <b-dropdown-item aria-role="listitem">
                            <b-icon class="media-left" icon="alert" size="is-small"></b-icon>
                            <small>신고</small>
                        </b-dropdown-item>
                    </b-dropdown>
                  </small>
            </div>
        </div>
        <p style="white-space: pre-line;" v-if="child.status" >{$ child.content $}</p>
        <p v-else class="has-text-grey is-italic">
            [ 삭제 처리된 댓글입니다 ]
        </p>
         <p class="is-size-7">
            <small>
                <!--  좋아요 -->
                <a v-if="likes.length > 0" @click="changeLike()" class="mx-1 has-text-primary">
                  <b-tooltip :label="cleanlikes" type="is-primary" position="is-right" size="is-small"
                  >
                    <span class="icon" style="width: 10px"><i class="mdi mdi-thumb-up-outline"></i></span>
                    0
                  </b-tooltip>
                </a>
                <a v-else @click="changeLike()" class="mx-1 has-text-primary">
                  <span class="icon" style="width: 10px"><i class="mdi mdi-thumb-up-outline"></i></span>
                  0
                </a>

                <!--  댓글 -->
                <span v-show="child.level < LIMIT_OF_COMMENTS">
                  <a @click="showReply = !showReply" class="mx-1 has-text-primary">
                    <span class="icon" style="width: 10px"><i class="mdi mdi-comment-outline"></i></span>
                    답글
                   </a>
                </span>
            </small>
        </p>
      </div>
      <!-- toggle시 댓글 수정 창 -->
      <edit-comment v-show="showEditReply" @edit-comment="editComment" @cancel-comment="cancelComment"
        :parent_content="child.content"
      />
<!--      <new-comment v-show="showReply" />-->
      <!-- toggle시 대댓글 등록 창 -->
      <new-comment v-show="showReply" @add-comment="addSubComment"/>
      <!-- 정해진 레벨검사 성공시      -->
      <div v-if="child.level < LIMIT_OF_COMMENTS">
        <comment v-for="(reply, i) in child.replies" :key="i" :level="child.level + 1"
            :child="reply"
            :parent="child"
            @delete-comment="deleteSubComment"
         />
      </div>
    </div>
</article>
     `,
        name: 'Comment',
        components: {
            NewComment,
            EditComment
        },
        props: {
            // level: {
            //     type: Number,
            //     default: 0
            // },
            // author_name: {
            //     type: String,
            //     default: ''
            // },
            // content: {
            //     type: String,
            //     default: ''
            // },
            // replies: {
            //     type: Array,
            //     default: () => []
            // },
            likes: {
                type: Array,
                default: () => ['test']
            },
            // feed_date: {
            //     type: String,
            //     default: ''
            // },
            // avatar: {
            //     type: String,
            //     default: ''
            // },
            // id: {
            //     type: Number,
            //     default: 0,
            // },
            child: {},
            parent: {},
            level: {
                type: Number,
                default: 0,
            },

        },
        data() {
            return {
                showReply: false,
                showEditReply: false,
                LIMIT_OF_COMMENTS: 2
            }
        },
        computed: {
            isLike() {
                return this.likes.includes(username)
            },
            cleanlikes() {
                return this.likes.toString().replace(/,/g, ',\n')
            }
        },
        methods: {
            toast(message, type = 'is-info', position = 'is-top') {
                this.$buefy.toast.open({
                    type: type,
                    duration: 5000,
                    message: message,
                    position: position,
                });
            },
            changeLike() {
                if (this.likes.includes(username))
                    this.likes = this.likes.filter((item) => item !== username)
                else this.likes.push(username)
            },
            addSubComment(content) {
                let payload = {
                    post_id: '{{post.id}}',
                    author_id: '{{g.user.employee.id}}',
                    parent_id: this.child.id,

                    content: content,
                }
                axios({
                    url: '{{ url_for("comment.add") }}',
                    method: 'post',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // 통신성공 but 로직 실패(200대 외)
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }

                    // 통신 성공 + (DB 순서변경)로직
                    this.child.replies.push(res.data.new_comment);

                    this.toast(res.data.message);

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                    // 댓글창 닫아주기
                    this.showReply = !this.showReply;
                });
            },

            editComment(content) {
                // axios
                let payload = {
                    id: this.child.id,
                    content: content,
                }

                axios({
                    url: '{{ url_for("comment.edit") }}',
                    method: 'put',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // 통신성공 but 로직 실패(200대 외)
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }

                    // this.child = res.data.updated_comment;
                    // 부모에게 받은 props를 통째로 할당하면 에러 난다
                    // 바뀐 부분만 할당해주자.
                    let updated_comment = res.data.updated_comment;
                    this.child.content = updated_comment.content;
                    this.child.pub_date = updated_comment.pub_date;


                    this.toast(res.data.message);

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                    // [cancel 3] 통신실패  => tree변경 취소(기존 this.depts -> this.treeData)
                    // this.updateTreeData();

                }).finally(() => {
                    // 수정창 닫아주기
                    this.showEditReply = !this.showEditReply;
                });
            },
            cancelComment() {
                this.showEditReply = !this.showEditReply;
            },

            deleteSubComment(obj) {
                if (obj.replies && obj.replies.length > 0) {
                    this.blindComment(obj)
                } else {
                    this.removeComment(obj)
                }
            },
            removeComment(obj) {
                const payload = {
                    id: obj.id
                }
                axios({
                    url: '{{ url_for("comment.remove") }}',
                    method: 'delete',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    if (res.status >= 300) {
                        this.toast(res.data.message, 'is-danger');
                        return;
                    }
                    // 통신 성공 + (status변경)로직 성공
                    //tree에서 해당 node 삭제
                    this.child.replies.splice(this.child.replies.indexOf(obj), 1);
                    this.toast(res.data.message);

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                });
            },
            blindComment(obj){
                 const payload = {
                    id: obj.id
                }
                axios({
                    url: '{{ url_for("comment.blind") }}',
                    method: 'put',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    if (res.status >= 300) {
                        this.toast(res.data.message, 'is-danger');
                        return;
                    }
                    // 타겟을 찾고, 거기의 필드만 바꾼다(props는 통째로 변환 X)
                    let targetComment = this.child.replies[this.child.replies.indexOf(obj)];
                    let updatedComment = res.data.updated_comment;

                    targetComment.status = updatedComment.status;
                    targetComment.pub_date = updatedComment.pub_date;

                    this.toast(res.data.message);

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                });
            }
        }
    }

    var Comments = {
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        template: `
        <div class="card-content is-small">
            <new-comment @add-comment="addComment"/>
            <comment v-for="(comment, i) in comments" :key="i"
                :level="0"
                :child="comment"
                :parent="null"
                @delete-comment="deleteComment"
             />
        </div>
      `,
        components: {
            Comment,
            NewComment
        },
        props: {
            comments: {
                type: Array,
                default: () => []
            }
        },
        methods: {
            toast(message, type = 'is-info', position = 'is-top') {
                this.$buefy.toast.open({
                    type: type,
                    duration: 5000,
                    message: message,
                    position: position,
                });
            },
            addComment(content) {
                // axios
                let payload = {
                    post_id: '{{post.id}}',
                    author_id: '{{g.user.employee.id}}',
                    parent_id: null,

                    content: content,
                }

                // axios 전 예시데이터
                // var newComment = {
                //     'content': content,
                //     'feed_date': '방금',
                //     'id': 999,
                //     'post_id': ' {{post.id}}',
                //     'author_name': '{{post.author.name}}',
                //     'parent_id': null, // 쌩 댓글 추가
                //     'status': true,
                //     'sort': 100,
                //     'level': 0, // 쌩 댓글 추가
                //     'avatar': 'avatar/ca2c0d27fbc54111a6de0e8a724c6bcc.png',
                //     'replies': [],
                // }

                axios({
                    url: '{{ url_for("comment.add") }}',
                    method: 'post',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // 통신성공 but 로직 실패(200대 외)
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }

                    // 통신 성공 + (DB 순서변경)로직
                    this.comments.push(res.data.new_comment);


                    this.toast(res.data.message);

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                });
            },
            deleteComment(obj) {
                if (obj.replies && obj.replies.length > 0) {
                    this.blindComment(obj)
                } else {
                    this.removeComment(obj)
                }
            },
            removeComment(obj) {
                const payload = {
                    id: obj.id
                }
                axios({
                    url: '{{ url_for("comment.remove") }}',
                    method: 'delete',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    if (res.status >= 300) {
                        this.toast(res.data.message, 'is-danger');
                        return;
                    }
                    // 통신 성공 + (status변경)로직 성공
                    //tree에서 해당 node 삭제
                    this.comments.splice(this.comments.indexOf(obj), 1);
                    this.toast(res.data.message);

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                });
            },
            blindComment(obj) {
                const payload = {
                    id: obj.id
                }
                axios({
                    url: '{{ url_for("comment.blind") }}',
                    method: 'put',
                    data: payload,
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    if (res.status >= 300) {
                        this.toast(res.data.message, 'is-danger');
                        return;
                    }

                    // 타겟을 찾고, 거기의 필드만 바꾼다(props는 통째로 변환 X)
                    let targetComment = this.comments[this.comments.indexOf(obj)];
                    let updatedComment = res.data.updated_comment;

                    targetComment.status = updatedComment.status;
                    targetComment.pub_date = updatedComment.pub_date;


                    this.toast(res.data.message);

                }).catch(err => {
                    console.log(err)
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                });
            }
        }
    }
</script>
{% endblock extra_foot_script %}

{% block vue_mixins %}
<script>
    // Vue.component('tree', DraggableTree);
    const myMixin = {
        components: {
            // 'tree': DraggableTree
            // -> <comments :comments="comments" />
            Comments
        },

        data() {
            return {
                comments: [],
                // comments: [
                //     {
                //         avatar: 'https://bulma.io/images/placeholders/96x96.png',
                //         author_name: '킴성태',
                //         content:
                //             'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.',
                //         add_date: '3 hrs',
                //         likes: ['jesuskinto', 'julioLugo', 'gerardPaez'],
                //         replies: [
                //             {
                //                 avatar: 'https://bulma.io/images/placeholders/96x96.png',
                //                 author_name: '관리자',
                //                 content:
                //                     'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.',
                //                 add_date: '3 hrs',
                //                 likes: ['jesuskinto', 'julioLugo', 'gerardPaez'],
                //                 replies: [
                //                     {
                //                         avatar: 'https://bulma.io/images/placeholders/96x96.png',
                //                         author_name: 'Barbara Middleton',
                //                         content:
                //                             'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.',
                //                         add_date: '3 hrs',
                //                         likes: ['jesuskinto', 'julioLugo', 'gerardPaez']
                //                     }
                //                 ]
                //             },
                //             {
                //                 avatar: 'https://bulma.io/images/placeholders/96x96.png',
                //                 author_name: 'Barbara Middleton',
                //                 content:
                //                     'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.',
                //                 add_date: '3 hrs',
                //                 likes: ['jesuskinto', 'julioLugo', 'gerardPaez']
                //             }
                //         ]
                //     },
                //     {
                //         avatar: 'https://bulma.io/images/placeholders/96x96.png',
                //         author_name: 'Barbara Middleton',
                //         content:
                //             'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.',
                //         add_date: '3 hrs',
                //         likes: ['jesuskinto', 'julioLugo', 'gerardPaez']
                //     }
                // ]
            }
        },
        created() {
            this.getComments()
        },
        methods: {
            getComments() {
                axios({
                    url: '{{ url_for("comment.all", post_id=post.id) }}',
                    method: 'get',
                    headers: {'Content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    if (res.status >= 300) {
                        this.toast(res.data.message)
                        return;
                    }

                    this.comments = res.data.tree.data;
                }).catch(err => {
                    this.toast(err.response ? err.response.data.message : '서버와 연결이 올바르지 않습니다.');
                }).finally(() => {
                });
            },
        }
    };
</script>
{% endblock vue_mixins %}


{% block vue_script %}
<script>
    // console.log(app._data.comments)
</script>
{% endblock vue_script %}