{% extends 'base.html' %}

<!--logo block 빈값으로 채워 제거-->
{% block hero %} {% endblock hero %}

{% block main %}
<div class="is-radiusless m-6" >
    <div class="columns is-centered">
        <div class="column is-5-fullhd">
            {% block auth_form %}
            <!--<form action="" method="post" style="margin-top: 40%;" class="box">-->
            <form action="" method="post" style="margin-top: 10%;" class="box">
                <div class="has-text-centered mb-3">
                    <p class="subtitle">로그인</p>
                    <h1 class="title">{{settings.site_name}}</h1>
                </div>
                 {{ form.csrf_token }}
                <!-- message flash -->
                {% with messages = get_flashed_messages() %}
                <b-message type="is-danger">
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </b-message>
                {% endwith %}

                <!-- form validation errors -->
                {% if form.username.errors %}
                <b-message type="is-danger">
                    <ul class="errors">
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </b-message>
                {% endif %}

                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <!--                        <input class="input" type="text" name="username" id="id_username"-->
                        <!--                               maxlength="128" placeholder="Username"-->
                        <!--                        >-->
                        {{ form.username(class='input', placeholder='Username') }}
                        <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                        <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <!--                        <input class="input" type="password" name="password" id="id_password"-->
                        <!--                               maxlength="320" placeholder="Password"-->
                        <!--                        >-->
                        {{ form.password(class='input', placeholder='Password') }}
                        <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="button is-success is-fullwidth" type="submit" value="Login">
                    </p>
                </div>
            </form>
            {% endblock auth_form %}
        </div>
    </div>
</div>
{% endblock main %}