{% extends 'admin/index.html' %}

<!-- admin/index.html 중 왼쪽칼럼2개짜리 메뉴의 실제 aside태그부분-->
{% block menus %}
<template>
    <aside class="menu">
        <p class="menu-label">
            My page
        </p>
        <ul class="menu-list">
            <li>
                <a class="{% if request.path in ['/auth/', '/auth/edit/']  %}is-active{% endif %}"
                   href="{{ url_for('auth.userinfo') }}">
                    기본정보/초대
                </a>
            </li>
            {% if g.user.is_employee_active %}
            <li>
                <a class="{% if  '/employeeinfo' in request.path %}is-active{% endif %}"
                   href="{{ url_for('auth.employeeinfo') }}">
                    직원정보
                </a>
            </li>
            {% endif %}


            <!--        <ul class="menu-list"-->
            <!--            v-for="(tab, index) in tab_list"-->
            <!--            @click="anchorClicked($event, index)"-->
            <!--        >-->
            <!--            <li>-->
            <!--                <a-->
            <!--                        href="javascript:;"-->
            <!--                        :key = "index"-->
            <!--                        class=""-->
            <!--                        :class="getActiveClass(index)"-->
            <!--                >-->
            <!--&lt;!&ndash;                        :class="{'is-active': activeAnchor === index}"&ndash;&gt;-->
            <!--                    {$ tab.label $}-->
            <!--                </a>-->
            <!--            </li>-->
        </ul>
    </aside>
</template>
{% endblock menus %}

{% block member %}
<template>
    <!-- flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <b-message type="{{category}}">
        <ul class=flashes>
            <li class="{{category}}">{{ message }}</li>
        </ul>
    </b-message>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- form validation -->
    {% if form and form.errors %}
    <b-message type="is-danger">
        <ul class="errors">
            {% for error, v in form.errors.items() %}
            <li>{{ v[0] }}</li>
            {% endfor %}
        </ul>
    </b-message>
    {% endif %}

    <!-- userinfo_form에서 달라질 부분 block개설  -->
    {% block tab_content %}
    <b-tabs v-if="tab_list.length" v-model="activeTab" @input="tabClicked(activeTab)">
        <b-tab-item
                v-for="tab in tab_list"
                :label="tab.label"
                :key="tab.key"
                :icon="tab.icon"
                :id="tab.tabItemId"
        >


            {% if init_html %}
            {{init_html |safe}}
            {% endif %}

        </b-tab-item>
    </b-tabs>
    {% endblock tab_content %}


</template>
{% endblock member %}


{% block vue_script %}
<script>
    app._data.tab_list = JSON.parse('{{ tab_list | tojson }}');
    // console.log(app._data.tab_list[0].tabItemId) // userinfo_main;

</script>
{% endblock vue_script %}