<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- settings -> meta태그 적용   -->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=0.3, minimum-scale=0.3, maximum-scale=2.0, user-scalable=yes"/>
    <!-- google meta -->
    <meta name="google-site-verification" content="{{settings.google_site_verification}}"/>
    <meta name="naver-site-verification" content={{settings.naver_site_verification}}/>
    <!-- 병원 meta -->
    <meta name="Description"
          content="{{settings.description}}"/>
    <meta name="Keywords"
          content="{{settings.keywords}}"/>
    <meta name="Copyright" content="{{settings.copyright}}"/>

    <meta property="og:title" content="{{settings.title}}"/>
    <meta property="og:description"
          content="{{settings.description}}"/>
    <meta property="og:url" content="{{settings.url}}"/>
    <meta property="og:image" content="{{settings.url}}{{url_for('download_file', filename=settings.logo)}}"/>
    <meta property="og:site-name" content="{{settings.site_name}}"/>


    <title>{% block title %} {{ settings.site_name }} {% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buefy.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- settings -> 테마색 적용하기  -->
    {% block extra_head_style %}{% endblock extra_head_style %}
    <style>
        .navbar-item .is-primary, /* 닉네임 표시 or (회원가입)  */
        .navbar-start > a:hover, /* 상단메뉴 hover  */
        .navbar-start > a.navbar-item.has-text-primary /* 상단메뉴 active  */
        {

        color: {

        {
            settings . theme_color
        }
        }
        !important
        ;
        }
        .modal-background {
            opacity: 0.4;
        }
    </style>
</head>

<body>
<div id="app" style="height:100%;">
    <div class="container is-fluid1" style="height:100%; ">
        <div class="is-block" style="height:100%;">
            <!-- navigation -->
            {% block navbar %}
            <template>
                <b-navbar spaced shadow>
                    <!-- logo-->
                    <template #brand>
                        <b-navbar-item>
                            <figure class="image  py-0 m-0" style="height: 32px; width: 128px;">

                                <img class="" style="min-height: 32px; width: 100%;"
                                     src="{{ url_for('download_file', filename=settings.logo) }}"
                                     alt="{{settings.site_name}}">
                            </figure>
                        </b-navbar-item>
                    </template>

                    <template #start>
                        <!-- home 메뉴만 수동으로 href='/' 유지-->
                        <b-navbar-item href="/">
                            Home
                        </b-navbar-item>
                        <!-- home 제외 메뉴는 전역 categories로 구성-->
                        <!-- base.html에 app_context로 넘어오는 category와, category(id) route에 진입했을 때넘겨주는category_id를 비교한다 -->
                        <!-- 1) 그렇다면, 평소에는 category_id는 None으로서 비교안되고, 해당route에 들어갓을때만 값이 넘어와서 비교되서 class를 표기 -->
                        <!-- 2) 해당route에 진입안해서 못받은 {{ category_id }}는 None으로서 아예 표기도 안된다.-->
                        {% for category in categories %}
                        <b-navbar-item
                                {% if category.id== category_id %}
                                class="has-text-primary"
                                {% endif %}
                                href="{{ url_for('main.category', id=category.id) }}">
                            {{category.name }}
                        </b-navbar-item>
                        {% endfor %}
                    </template>

                    <!-- dropdown 메뉴는 혹시 몰라서 주석처리-->
                    <!--                        <b-navbar-dropdown label="Info">-->
                    <!--                            <b-navbar-item href="#">-->
                    <!--                                About-->
                    <!--                            </b-navbar-item>-->
                    <!--                            <b-navbar-item href="#">-->
                    <!--                                Contact-->
                    <!--                            </b-navbar-item>-->
                    <!--                        </b-navbar-dropdown>-->

                    <template #end>
                        <!-- g.user if  avatar/
                                        이름 + 내 정보/
                                        (g.user.is_super_user if   admin)/
                                        로그아웃
                                     else 회원가입/
                                          로그인 -->
                        <b-navbar-item tag="div">
                            {% if g.user %}
                            <!-- avatar -->
                            <figure class="image is-32x32 mx-2" style="border: none;">
                                <!--                                     style="height: 100%"-->
                                <img class="is-rounded" style="min-height: 32px; width: 100%;"
                                     src="
                                         {% if g.user.avatar %}
                                         {{url_for('download_file', filename=g.user.avatar)}}
                                         {% else %}
                                         {{url_for('static', filename='/img/user/default_avatar.svg')}}
                                         {% endif %}
                                        "
                                     alt="{{ g.user.username }}">
                            </figure>

                            <div class="buttons">
                                <!-- 닉네임 + 내 정보-->
                                <a class="button is-primary"
                                   href="{{ url_for('auth.userinfo') }}"
                                >
                                    {{g.user['username']}}님 정보
                                </a>
                                <!-- 직원이상이라면 admin 추가 -->
                                {% if g.user.is_staff %}
                                <a class="button is-success"
                                   href="{{ url_for('admin.index') }}">
                                    Admin
                                </a>
                                {% endif %}
                                <!-- 로그아웃 -->
                                <a class="button is-danger" href="{{ url_for('auth.logout')}}">
                                    로그아웃
                                </a>
                            </div>
                            {% else %}
                            <div class=" buttons">
                                <a class="button is-primary" href="{{ url_for('auth.register')}}">
                                    회원가입
                                </a>
                                <a class="button is-light" href="{{ url_for('auth.login')}}">
                                    로그인
                                </a>
                            </div>
                            {% endif %}
                        </b-navbar-item>
                    </template>
                </b-navbar>
            </template>
            {% endblock navbar %}

            {% block hero %}
            <section class="hero is-medium is-primary">
                <div class="hero-body">
                    <p class="title">
                        Large hero
                    </p>
                    <p class="subtitle">
                        Large subtitle
                    </p>
                </div>
            </section>
            {% endblock hero %}

            {% block main %}
            <div class="box is-marginless is-shadowless is-radiusless">
                {% block box %}
                <div class="columns is-multiline">
                    {% for post in post_list %}
                    <div class="column is-4-fullhd">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <!--                                    <img src="https://bulma.io/images/placeholders/1280x960.png"-->
                                    <img src="{{url_for('static', filename=post.img )}}"
                                         loading="prelaod" decoding="async"
                                         alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4"><a
                                                href="{{url_for('main.post_detail', category_id=post.category_id, id=post.id) }}">{{
                                            post.title }}</a></p>
                                    </div>
                                </div>

                                <div class="content">
                                    <p class="has-text-grey is-size-7">
                                        {{ post.desc | truncate(30)}}
                                    </p>
                                    <time datetime="{{ post.add_date }}">{{ post.add_date }}</time>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <nav class="pagination is-small" role="navigation" aria-label="pagination">
                    {% if pagination.has_prev %}
                    <a href="{{ url_for('main.index') }}?page={{ pagination.prev_num }}" class="pagination-previous"
                       title="This is the first page">Previous</a>
                    {% endif %}
                    {% if pagination.has_next %}
                    <a href="{{ url_for('index') }}?page={{ pagination.next_num }}" class="pagination-next">Next
                        page</a>
                    {% endif %}

                    <ul class="pagination-list">
                        {% for page in pagination.iter_pages() %}
                        {% if page %}
                        {% if page != pagination.page %}
                        <li>
                            <a href="{{ url_for('index') }}?page={{ page }}" class="pagination-link"
                               aria-label="Page 1"
                               aria-current="page">{{ page }}</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <span class=pagination-ellipsis>&hellip;</span>
                        {% endif %}
                        {% endfor %}

                    </ul>
                </nav>
                {% endblock box %}
            </div>
            {% endblock main %}

            {% block footer %}
            <div class="footer has-background-black-ter is-marginless">
                <div class="has-text-centered has-text-grey-light">
                    <div class="columns is-centered is-mobile is-multiline"
                         style="border-bottom: #ededed solid 1px; padding-bottom: 1rem">
                        <div class="column is-narrow is-half">

                            <div class="columns has-text-centered">
                                <div class="column is-narrow is-half">
                                    <h1 class="has-text-white is-size-5">콜센터 : {{settings.call_number}}</h1>
                                </div>
                                <div class="column is-narrow is-half">
                                    <h1 class="has-text-white-ter is-size-5">{{settings.site_name}}</h1>
                                </div>
                            </div>

                            <div class="columns has-text-centered">
                                <div class="column is-narrow is-half">
                                    <h1>{{settings.address}}</h1>
                                </div>
                                <div class="column is-narrow is-half">
                                    <div>
                                        사업자등록번호 {{settings.business_license_number}} {{settings.ceo}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-narrow is-half">
                            footer
                            <p class="help has-text-grey-light">
                                footer content
                            </p>
                        </div>
                    </div>
                    <h1 class="has-text-grey-light" href="">
                        {{settings.copyright}}
                    </h1>
                </div>
            </div>

            {% endblock footer %}
        </div>

    </div>
</div>

<script src="{{url_for('static', filename='js/vue.js')}}"></script>
<script src="{{url_for('static', filename='js/buefy.min.js')}}"></script>

{% block extra_foot_script %}
{% endblock extra_foot_script %}

{% block vue_mixins %}
<script>
    let myMixin = {};
</script>
{% endblock vue_mixins %}

{% block vue_init_script %}
<script>
    Vue.config.productionTip = false;
    // console.log(treeItem)
    let app = new Vue({
        el: '#app',
        delimiters: ['{$', '$}'],  // jinja와 같이 쓸 vue 변수
        // components: {
        //     tree-item: treeItem
        // },
        mixins: [myMixin],

        data: {
            // file: {}, // admin/banner_form에서 b-upload에 쓰이는 변수
            // carousels: [], // main/index에서 b-carousel-item에 test
            banner_list: [], // main/index에서 b-carousel-item에서 슬 변 수
            // activeTab: 0,

            // admin/banner_form , auth/userinfo_form 에서 쓰는 b-upload v-model변수
            img_file: {},
            img_file_url: null,

            // admin/setting_form에서 쓰는 b-colorpicker, b-datepicker v-model 변수
            selectedColor: null,
            date: null,
            stringDate: null,
            //userinfo.html에서 tab 및 a태그
            tab_list: [],
            activeTab: 0,
            // activeAnchor: 0,
            className: '',

            //user.html 일반 modal로 변경하여 필요한 변수
            isRoleModalActive: false,
            user_id: null,
            //employee.html modal 띄우는 변수
            isJobStatusModalActive: false,
            isDepartmentModalActive: false,
            employee_id: null,
            //employee.html modal 속 제출 처리 변수
            isLoading: null,
            //employee.html 부서modal 속 스위치의 Y/N시 들어갈 값을 받아주는 변수 (각 html파일에서 초기화하고, swtich내에서 true-value, false-value를 정의함
            isSwitchedCustom: null, //app._data.isSwitchedCustom = '부서원';
            //employee.html 부서modal 속 현재부서 option list(axios로 받아짐)
            currentDeptList: null,
            //employee.html 부서modal 속 선택된 현재부서 id
            currentDeptId: null,
            selectableDeptList: null,
            selectedDeptId: null,

            //department/organization.html
            treeData: false,

            //department/부서관리용 DraggableTree .html의 컴포넌트 주입용 데이터 변수 초기화
            // treeTest: false,

        },
        watch: {
            // admin/banner_form , auth/userinfo_form 에서 쓰는 b-upload v-model변수
            // -> this.url변수에 동적으로 할당해주면 -> img태그의 :src에서 url에 정보유무에 따라 다른 img src을 걸 수 있게
            // img_file변화시 -> img_file_url을 채우는 역할
            img_file: function (file, n) {
                this.img_file_url = URL.createObjectURL(file);
            },

            // admin/setting_form에서 쓰는 b-datepicker v-model date -> stringDate에 변환해서 채우도록 한다.
            date: function (date) {
                // console.log(date)
                //Tue Nov 15 2022 00:00:00 GMT+0900 (한국 표준시) // 이미 date가 아닌 상태로 온다..
                this.stringDate = this.convertDateYyyymmdd(date)
                // console.log(this.stringDate)
                // this.stringDate = '2020-08-19'
                //
            },
        },
        methods: {
            // departments/organization.html의 조직도용
            makeFolder: function (item) {
                Vue.set(item, "children", []);
                this.addItem(item);
            },
            addItem: function (item) {
                item.children.push(
                    {
                        'add_date': '2022-12-29',
                        'all_employee_count': 0,
                        'employee_count': 0,
                        'id': 8,
                        'leader': {
                            'avatar': 'avatar/4a50c77bb8164dfb85cfb92ab7ee99a0.png',
                            'id': 8,
                            'job_status': '재직',
                            'name': '123'
                        },
                        'level': 2,
                        'name': 'new부서',
                        'parent_id': 3,
                        'sort': 2,
                        'status': true
                    }
                );
            },

            // 공통
            toast(message, type = 'is-info', position = 'is-top') {
                this.$buefy.toast.open({
                    duration: 5000,
                    message: message,
                    position: position,
                    type: type
                });
            },

            // main/index에서 props.i 정보 -> banner_list[i]로 banner객체를 얻게해주는 메서드
            getBannerImg(value) {
                return `${this.banner_list[value].img}`
            },
            getBannerTitle(value) {
                return `${this.banner_list[value].desc}`
            },

            convertDateYyyymmdd(value) {
                // 들어오는 value 값이 공백이면 그냥 공백으로 돌려줌
                if (value == null) return null;

                // 현재 Date 혹은 DateTime 데이터를 javaScript date 타입화
                var js_date = new Date(value);

                // 연도, 월, 일 추출
                var dd = String(js_date.getDate()).padStart(2, '0');
                var mm = String(js_date.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = js_date.getFullYear();
                return yyyy + '-' + mm + '-' + dd;
            },

            // tabClicked(index) {
            //     if (index === 1) alert('Index 1 is the third button');
            // },

            // userinfo.html 에서 각 tab클릭시마다 작동하는 method
            tabClicked(index) {
                let tab_item = document.querySelector(".tab-item#" + this.tab_list[index].tabItemId);
                // console.log(tab_item)

                axios({
                    url: this.tab_list[index].url,
                    method: 'get',
                    dataType: 'html',
                    headers: {'content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // alert(res.data)
                    tab_item.innerHTML = res.data
                }).catch(err => {
                    console.log(err)
                    tab_item.innerHTML = ('페이지를 찾을 수 없습니다.');
                });

                // a태그에도 반영해주기 (tab과 다르게 클릭해줄 필요없음.. active표시만 들어가면 됨)
                // this.activeAnchor = index;

            },
            // anchorClicked(e, index) {
            //     // console.log(e, index)
            //     this.activeAnchor = index;
            //     // 자신클릭시, active만 활성화시킨 뒤, tab활성화 + tab클릭만 한다.
            //     this.activeTab = index;
            //     this.tabClicked(index);
            //
            //
            //     // const ul = e.currentTarget; // FYI
            //     // const a = e.target;
            //     // console.log(ul);
            //     // console.log(a);
            //     // [a.parentElement.children].forEach(sib => sib.classList.remove('is-active'));
            //     // a.classList.add('is-active');
            //
            //
            // },
            getActiveClass(current_index) {

                return {
                    'is-active': this.activeAnchor === current_index
                }
            },
            //employee.html 재직변경 modal 속 form 제출 처리 + 부서변경 모달의 제출 처리도
            submitForm(e) {
                // 1) 클릭되면 isLoading에 True가 들어가 button이 disable된다
                this.isLoading = true

                // 2) 다시 도로 제출
                e.target.submit();

                // 2) 1초후에 false가 되 button 돌아온다
                setTimeout(() => {
                    this.isLoading = false
                }, 1000)
            },
            //employee.html 부서변경 버튼 클릭시 정보를 받고 modal을 띄우기
            getCurrentDepartments(emp_id) {
                console.log(emp_id)
                axios({
                    url: '{{ url_for("admin.get_current_departments", employee_id="")}}' + emp_id,
                    method: 'get',
                    // dataType: 'html',
                    // headers: {'content-type': 'application/json;charset=utf-8'},
                }).then(res => {
                    // alert("성공")
                    console.log('res.status >> ', res.status);
                    console.log('res.data >> ', res.data);

                    this.currentDeptList = res.data.deptInfos;
                    console.log('this.currentDeptList >> ', this.currentDeptList);

                    // 현재 부서가 없을 경우, -> 새롭게 axios로 모든 부서 요청해서 => this.selectableDeptList에 넣기
                    if (this.currentDeptId === null || this.currentDeptList.length === 0) {
                        axios({
                            url: '{{ url_for("admin.get_all_departments") }}',
                            method: 'get',
                        }).then(res => {
                            console.log('res.status >> ', res.status);
                            console.log('res.data >> ', res.data)
                            this.selectableDeptList = res.data.deptInfos;
                        }).catch(err => {
                            console.log(err.response.data.message)
                            alert(err.response.data.message)
                        });
                    }

                    this.isDepartmentModalActive = true;
                    this.employee_id = emp_id;
                    this.isSwitchedCustom = '부서원';

                }).catch(err => {
                    alert("서버 연결이 올바르지 않습니다.")
                    console.log(err)
                });

            },
            //employee.html 부서변경 modal에서 첫번재 부서 선택시
            onCurrentDeptIdChange() {
                console.log("this.currentDeptId>>>", this.currentDeptId)
                //현재부서에 [부서 추가] 도입후 axios

                //employee_id까지 같이 FormData로 만들어서 보내기
                const formData = new FormData();
                formData.append('current_dept_id', this.currentDeptId);
                formData.append('employee_id', this.employee_id);

                axios({
                    // url: '{{ url_for("admin.get_selectable_departments", department_id="")}}' + this.currentDeptId,
                    url: '{{ url_for("admin.get_selectable_departments")}}',
                    method: 'post', //new FormData()로 보낼 것이라면 get요청은 무조건 에러난다.
                    data: formData,
                    // form에 파일이 없다면 headers는 생략해도 된다.
                    // headers: {'content-type': 'multipart/form-data'},
                    // headers: {'content-type': 'application/json;charset=utf-8'},
                    // dataType: 'html',
                }).then(res => {
                    // alert("성공")
                    console.log('res.status >> ', res.status);
                    console.log('res.data >> ', res.data);

                    this.selectableDeptList = res.data.deptInfos;
                    console.log('this.selectableDeptList >> ', this.selectableDeptList);

                }).catch(err => {
                    // alert("서버 연결이 올바르지 않습니다.")
                    console.log(err)
                    console.log(err.response.data) // return dict(json)
                    console.log(err.response.data.message)
                });

            },

            //employee.html 부서변경 modal에서 2번째 부서 선택시 + swtich바뀔 때
            // onSelectedDeptIdChange(){
            onSelectedDeptIdOrSwitchChange(e) {
                // console.log('선택부서 선택함.')
                const formData = new FormData();
                formData.append('current_dept_id', this.currentDeptId); //null
                formData.append('employee_id', this.employee_id); // 12
                formData.append('as_leader', this.isSwitchedCustom); //부서원
                // 부/장급 부서의 선택시, 무조건 as_leader로의 변경이므로 is_promote반영되도록 추가해서 보내기
                formData.append('after_dept_id', this.selectedDeptId);


                axios({
                    url: '{{ url_for("admin.determine_promote")}}',
                    method: 'post', //new FormData()로 보낼 것이라면 get요청은 무조건 에러난다.
                    data: formData,

                }).then(res => {
                    console.log('res.status >> ', res.status);
                    console.log('res.data >> ', res.data);
                    // 승진이나 강등시 confirm으로 알려주기
                    let change_position = '';
                    if (res.data.isPromote) {
                        change_position = '승진';
                    }
                    if (res.data.isDemote) {
                        change_position = '강등';
                    }
                    // console.log(change_position) // js도 ''빈문자열을 if false로 취급하는 것으로 작동한다. => 둘 중에 1개가 채워졌으면 직위변경이다.
                    if (change_position) {
                        let appended_message = res.data.isPromote ? '부서관리의 책임이 생깁니다. 확인해주세요.' : '부서관리의 책임이 사라져요. 확인해주세요.';

                        //부장급부서로 인해, 부서원상태에서도 -> 승진이 된다.
                        // => 승진의 상황으로 판단됬는데 && 부서원으로 체크되어있으면 (부/장급부서)로 => [부서장]상태로 바꿔놓자
                        if (res.data.isPromote && this.isSwitchedCustom === '부서원') {
                            this.isSwitchedCustom = '부서장';
                            appended_message = appended_message + '<br/><b>부/장급 부서</b>는 1인의 CHIEFSTAFF(직위)로 등록됩니다.';
                        }

                        this.$buefy.dialog.confirm({
                            message: '<b>' + this.isSwitchedCustom + '</b>으로 <b>' + change_position + '</b>되서 직위가 변해요.' + '<br/>' + appended_message,
                            type: 'is-danger',
                            hasIcon: true,
                            confirmText: '계속',
                            // onConfirm: () => this.$buefy.toast.open('Account deleted!'),
                            cancelText: '취소',
                            onCancel: () => this.isSwitchedCustom = this.isSwitchedCustom === '부서장' ? '부서원' : '부서장',
                        });
                    }

                }).catch(err => {
                    // 승진여부판단시 잘못된 요청이 날아올 수 있으며 안내해야한다. (부서선택안하고 switch만 조절해서 넘어가는 경우)
                    // alert(err.response.data.message)
                    this.$buefy.toast.open({
                        duration: 5000,
                        message: err.response.data.message,
                        position: 'is-top',
                        type: 'is-danger'
                    });
                    // console.log(err.response.data.message)
                });
            },

            // department/organization.html 의 tree컨트롤 용
            labelClass(data) {
                return "bg_node";
            },
            renderContent(h, data) {
                return data.label;
            },
            onExpand(e, data) {
                if ('expand' in data) {
                    data.expand = !data.expand
                    if (!data.expand && data.children) {
                        this.collapse(data.children)
                    }
                } else {
                    this.$set(data, 'expand', true)
                }
            },
            collapse(nodes) {
                nodes.forEach(node => {
                    if (node.expand) {
                        node.expand = false
                    }

                    node.children && this.collapse(node.children)
                })
            },
            onNodeClick(e, data) {
                console.log('CLICK', e);
                this.$set(data, 'selectedKey', !data['selectedKey']);
            },
            onNodeMouseOver(e, data) {
                console.log('MOUSE OVER', e, data);
            },
            onNodeMouseOut(e, data) {
                console.log('MOUSE OUT', e);
            },
            onNodeDrop(e, drag, drop) {
                console.log('DROP', e);
                console.log('drag:', drag);
                console.log('drop:', drop);
            },

        },
        filters:
            {
                // main/index에서 너무긴 배너정보를 잘라주는 메서드
                truncate: function (text, length, suffix) {
                    if (text.length > length) {
                        return text.substring(0, length) + suffix;
                    } else {
                        return text;
                    }
                }
                ,
            }
        ,
        mounted() {

        }
    })
</script>
{% endblock vue_init_script %}

{% block vue_script %}{% endblock vue_script %}
</body>
</html>
